@import 'normalize.css';

/**** FUENTES ****/

@font-face {
    font-family: 'Oswald-Bold';
    src: url('/fonts/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),  url('/fonts/Oswald-SemiBold.woff') format('woff'), url('/fonts/Oswald-SemiBold.ttf')  format('truetype'), url('/fonts/Oswald-SemiBold.svg#Oswald-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'YanoneKaffeesatzBold';
    src: url('/fonts/YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'),  url('/fonts/YanoneKaffeesatz-Bold.woff') format('woff'), url('/fonts/YanoneKaffeesatz-Bold.ttf')  format('truetype'), url('/fonts/YanoneKaffeesatz-Bold.svg#Oswald-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'YanoneKaffeesatzRegular';
    src: url('/fonts/YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),  url('/fonts/YanoneKaffeesatz-Regular.woff') format('woff'), url('/fonts/YanoneKaffeesatz-Regular.ttf')  format('truetype'), url('/fonts/YanoneKaffeesatz-Regular.svg#Oswald-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

/**** VARIABLES ****/

:root {
    --main-body-color: rgb(30, 30, 36);
    --main-red-color:rgb(212, 56, 64);
  }

/**** ESTILOS WEB ****/

body {
    background-color: var(--main-body-color);
}

#header {
    height:20vh;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 3rem;
    box-shadow: 0px 11px 8px -6px rgba(0,0,0,0.75);
}

#header h1 {
    font-family: 'Oswald-Bold', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 2.7rem;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    margin: 0 2rem;
    margin-bottom: 3rem;
    position: relative;
}

.article {
    background-color:var(--main-body-color);
    border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    animation: 0.4s ease forwards;
    border-radius: 3px 3px 3px 3px;
    
}

.article:hover {
    animation-name: slide_image;
    cursor: pointer;
    
}

.article h2 {
    font-family: 'YanoneKaffeesatzBold';
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

.article span {
    font-family: 'YanoneKaffeesatzBold';
    text-transform: uppercase;
    color:var(--main-red-color);
    font-weight: bold;
    font-size: 2.2rem;
}

.article p {
    font-family: 'YanoneKaffeesatzRegular';
    font-size: 1.3rem;
    margin-top: 0.2rem;
}

.article > div {
    padding: 1rem 1rem;
    flex-grow: 1;
}

.article > div >div {
    display: flex;
    justify-content: center;
}

.article div div img {
    max-width: 400px;
}

.article button{
    display: block;
    width: 100%;
    background-color:var(--main-red-color);
    color: white;
    font-weight: 600;
    border: none;
    padding: 0.65rem 0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px -8px 8px -6px rgba(0,0,0,0.5);
}

.article button a{
    font-family: 'YanoneKaffeesatzBold';
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

footer {
    font-family: 'YanoneKaffeesatzRegular';
    font-size: 1.3rem;
    padding: 0.1rem;
    background-color:var(--main-red-color);
    text-align: center;
    color: white;
    box-shadow: 0px -8px 8px -6px rgba(0,0,0,0.75);
}

@keyframes slide_image {
    0% {
        transform: scale(1);

    }
    100% {
        transform: scale(1.08);

    }
}

@media screen and (max-width: 358px) {

    

}


