<template>

  <div class="home">

    <div class="slide">

          <div class="loremSlide">

            <h1 class="sinPuntos">Lorem ipsum dolor sit.</h1>
            <!-- <input type="text" placeholder="Tu búsqueda aquí ..."> -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sunt, debitis, nam iste sequi atque pariatur nesciunt magni deleniti dolores, laborum praesentium possimus amet dicta commodi? Quidem, nihil rem! Maiores modi quos earum deserunt esse?</p>              

          </div>

    </div>

    <div class="cabecera">

      <div class="contenedor">

        <h1>Hola ¡¡¡</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore itaque doloremque, sequi ad assumenda nostrum repellendus aperiam quos ea inventore enim exercitationem, quasi sit fugiat velit veritatis autem harum aliquam, illo ducimus. Quisquam culpa, vitae numquam ea, iste nihil sunt ad molestias nostrum laborum obcaecati?</p>
      
      </div>

      <div class="contenedor_flex">

        <div class="iconos_home">
          <img src="../assets/info.png" alt="">
          <h3>lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="iconos_home">
          <img src="../assets/info.png" alt="">
          <h3>lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="iconos_home">
          <img src="../assets/info.png" alt="">
          <h3>lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="iconos_home">
          <img src="../assets/info.png" alt="">
          <h3>lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

      </div>

      <div class="categorias_home">

        <h2>No te los pierdas ;)</h2>

        <div class="contenedor_categoria">

            <div class="categoria categoria1">
              <div class="texto_categoria">
                <h3>Oredenadores</h3>                
              </div>
            </div>
            <div class="categoria categoria2">
              <div class="texto_categoria">
                <h3>Miscelaneous</h3>                
              </div>            </div>
            <div class="categoria categoria3">
              <div class="texto_categoria">
                <h3>Fotografia</h3>                
              </div>            </div>
            <div class="categoria categoria4">
              <div class="texto_categoria">
                <h3>Maquinas escritura</h3>                
              </div>            
            </div>

        </div>

      </div>

      <div>

        <h2>Como comprar</h2>

        <div class="contenedor_flex">

          <div class="como_comprar">
            <p class="numero_compra">1.</p>
            <p class="p_compra">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>            
          </div>
          <div class="como_comprar">
            <p class="numero_compra">2.</p>
            <p class="p_compra">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="como_comprar">
            <p class="numero_compra">3.</p>
            <p class="p_compra">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="como_comprar">
            <p class="numero_compra">4.</p>
            <p class="p_compra">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>

        </div>

      </div>

    </div>

  </div>

</template>

<script>

  export default {
    name: 'Home',
    components: {
      
    }
  }

</script>

<style scoped>

    h1{
        margin-bottom: 1.5rem;
        padding: 0;
        text-align: center;
        font-size: 3rem;
    }

    h2{
      padding-bottom: 3rem;
    }

    h3{
      margin-bottom: 0.4rem;
    }

    p{
      margin-top:0;
      color: rgb(41, 41, 41);
    }

    .loremSlide h1:after{
        content: '';
        display: none;
    }

    .loremSlide p{
      color: white;
    }

    .slide{
        background-image: url(../assets/oldslide5.jpeg);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        width: 100%;
        height: 70vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slide::before {
        content: '';
        background-color: rgba(0,0,0,.7);
        z-index: 3;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        position: absolute; 
    }

    .contenedor h1{
      margin-bottom: 4rem;
    }

    .loremSlide {
        width: 60%;
        margin:0 auto;
        color: white;
        z-index: 99;
    }

    .sinPuntos{
      color: white;
      margin-top: 0;
    }

    .iconos_home {
      max-width: 10rem;
    }

    .iconos_home img{
      max-width: 4.5rem;
    }

    .categorias_home{
      background-color:rgba(230, 230, 230, 0.582);
      padding: 1rem 0 5rem 0;
    }

    .contenedor_categoria{
      width: 80%;
      margin: 0 auto;
      padding: 1rem 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin:0 auto;
      color: white;
    }

    .categoria{
      background-color: orangered;

    }

    .categoria1 div h3{
      font-size: 1.5rem;
    }

    .categoria1, .categoria2, .categoria3, .categoria4{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;      
        margin: 1rem;
        font-size: 1.3rem;
        
    }

    .categoria1::before, .categoria2::before, .categoria3::before, .categoria4::before {
        content: '';
        background-color: rgba(0,0,0,.7);
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        position: absolute; 
    }

    .texto_categoria{
      z-index: 99;
    }

    .categoria1{
      background-image: url(https://images.unsplash.com/photo-1494766344717-940c150759b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
      writing-mode: vertical-lr;
      text-orientation: upright;
      height: 25rem;
      width: 90%;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    .categoria2{
      background-image: url(https://images.unsplash.com/photo-1526581388120-feacffc9884c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
      height: 11rem;
      width: 90%;
    }

    .categoria3{
      background-image: url(https://images.unsplash.com/photo-1494766000449-18203cb5aeb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
      height: 11rem;
      width: 90%;
    }

    .categoria4{
      background-image: url(https://images.unsplash.com/photo-1590753684039-6adc03c5d6dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
      height: 12rem;
      width: 95%;
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }

    .como_comprar{
      margin: 2rem 2rem 0rem 1rem;
      display: flex;
      align-items: center;
      max-height: 7rem;
    }

    .numero_compra{
      margin-top: 1rem;
      font-size: 4rem;
    }

    .p_compra{
      margin-top: 2rem;
      padding-left: 0.5rem;
    }

    

    /*.como_comprar:before{
      content: '';
      display:block;
      width: 60px;
      height:60px;
      background:url('../assets/trespuntos.png');
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      z-index:100000;
      left:1px;
      top:1px;
    }
    */

</style>
