<template>

  <div>

    <h1>
      Login de usuario
    </h1>

    <div>

        <p v-show="errorLogin" class="errorMsg">Rellena los campos vacios</p>

        <input v-model="email" type="text" placeholder="Email">
        <br>
        <input v-model="contrasena" type="text" placeholder="Constraseña">
        <br>
        <button @click="loginUser()">
            Login
        </button>

    </div>

  </div>

</template>

<script>

    import { login } from '../../utils'

    export default {

        name: 'login',

        data(){

        return{
            email:'',
            contrasena:'',
            errorLogin:false
        }

        },

        methods: {

          loginUser(){

              if (this.email === '' || this.contrasena === ''){
                this.errorLogin = true
              } 
              
              login(this.email, this.contrasena)
              
              setTimeout( () => {
                this.$router.push('/').catch(()=>{});
                location.reload()
              }, 1000 )
    
          }
        }
    }

</script>

<style scoped>

    input{
        margin-bottom: 0.5rem;
    }

    button{
        margin: 1rem 0;
    }

  .errorMsg{
        font-weight: bold;
        color: red;
        text-decoration: underline;
    }

</style>
