<template>

  <div>

    <h1>
      Listado clientes
    </h1>

    <div class="parrafos_cuenta" v-show="seeEdit">

      <p>Nombre: {{ cliente.nombre }}</p>
      <p>Apellidos: {{ cliente.apellidos }}</p>
      <p>Direccion: {{ cliente.direccion }}</p>
      <p>Email: {{ cliente.email }}</p>
      <p>Rating: {{ cliente.rating }}</p>
      <p>Foto: {{ cliente.foto }}</p>

      <button @click="editaCliente()">
          Editar
      </button>

      <button @click="editaPassword()">
          Cambiar contraseña
      </button>

    </div>

    <div class="botones_editar" v-show="seePassword">
      <input type="text" placeholder="Contraseña" v-model="passwordActualizado">
      <br>
      <button @click="cambiarPassword()">
        Guardar contraseña
      </button>
      <button @click="cambiaVolver()">
        Cancelar
      </button>
    </div>

    <div class="editar_cliente" v-show="seeSave">

      <input type="text" placeholder="Nombre" v-model="nombreActualizado">
      <br>
      <input type="text" placeholder="Apellidos" v-model="apellidosActualizado">
      <br>
      <input type="text" placeholder="Direccion" v-model="direccionActualizado">
      <br>
      <input type="text" placeholder="Email" v-model="emailaActualizado">
      <br>
      <input type="text" placeholder="Foto" v-model="fotoaActualizado">
      <br>
      <button @click="actualizarCliente()">
            Guardar
      </button>
      <button @click="editaVolver()">
            Cancelar
      </button>

    </div>
    
  </div>

</template>

<script>

  import axios from 'axios';
  import { getId } from '../../utils'

  export default {

    name: 'micuenta',

    data(){
      return {
        cliente: '',
        idCliente:'',
        seeEdit:true,
        seeSave:false,
        seePassword:false,
        nombreActualizado:'',
        apellidosActualizado:'',
        direccionActualizado:'',
        emailaActualizado:'',
        fotoaActualizado:'',
        passwordActualizado: '',
        id_user:''
        
      }
    },

    methods: {

          cambiaVolver(){
            this.seeEdit = true,
            this.seeSave = false,
            this.seePassword = false
          },

          editaVolver(){
            this.seeEdit = true,
            this.seeSave = false
          },

          editaCliente(){
            this.seeEdit = false,
            this.seeSave = true
          },

          editaPassword(){
            this.seeEdit = false,
            this.seeSave = false,
            this.seePassword = true
          },

          cambiarPassword(){

            var self = this;
            const id_user = self.id_user;
            //console.log(id_user)

            axios.put('http://localhost:8000/user/password/' + `?id=${id_user}`, {
              contrasena: self.passwordActualizado
            })

            .then(function(response){
              console.log(response)
            })

            .catch(function (error){
              console.log(error)
            })

            location.reload()

          },

          actualizarCliente(){

            var self = this;
            let id_user = self.id_user;
            //console.log(id_user)

            axios.put('http://localhost:8000/user/login/' + `?id=${id_user}`, {
              nombre: self.nombreActualizado,
              apellidos: self.apellidosActualizado,
              direccion: self.direccionActualizado,
              email: self.emailaActualizado,
              foto: self.fotoaActualizado
            })

            .then(function(response){
              this.seeEdit = true
              this.seeSave = false

              console.log(response)
            })

            .catch(function (error){
              console.log(error)
            })

            location.reload()

        },

        getIdLocal(){
            let idLstorage = getId()
                idLstorage = parseInt(idLstorage)
            this.id_user = idLstorage
        },

        getClients(){

            var self = this;

            axios.get('http://localhost:8000/user/' + self.id_user)

            .then( function(response){
              console.log(response.data[0]['0'])
              self.cliente = response.data[0]['0']
            })

            .catch(function (error){
              console.log(error)
            })           
        }
    },
    
    created(){
      this.getIdLocal()
      this.getClients()
    }
    
  }

</script>


<style scoped>

  button{
    margin: 1rem 0;
    padding-right:1rem;
  }

  input{
    margin-bottom: 0.5rem;
  }

  .parrafos_cuenta p{
    margin: 0.5rem;
    text-decoration:underline;
  }

  .parrafos_cuenta button{
    margin-right: 1rem;
  }

  .parrafos_cuenta button:last-child{
    margin-right: 0;
  }

  .botones_editar button{
    margin-right: 1rem;
  }

  .botones_editar button:last-child{
    margin-right: 0;
  }

  .editar_cliente button{
    margin-right: 1rem;
  }

  .editar_cliente button:last-child{
    margin-right: 0rem;
  }


</style>