<template>

  <div>
        <h1>
            Formulario de cliente
        </h1>

        <h3 v-show="errorMsg" class="errorMsg">
            * Tienes campos vacios *
        </h3>

        <input type="text" v-model="nombre" placeholder="Nombre">
        <br>
        <input type="text" v-model="apellidos" placeholder="Apellido">
        <br>
        <input type="text" v-model="direccion" placeholder="Direccion">
        <br>
        <input type="text" v-model="email" placeholder="Email">
        <br>
        <input type="text" v-model="contrasena" placeholder="Contraseña">
        <br>
        <input type="text" v-model="foto" placeholder="Foto">
        <br>
        <button @click="validatingData()">
            Nuevo cliente
        </button>
  </div>
  
</template>

<script>

    import axios from 'axios';

    export default {
        name: 'nuevousuario',
        data(){
            return {
                nombre:'',
                apellidos:'',
                direccion: '',
                email:'',
                contrasena:'',
                foto:'',
                createClient: false,
                errorMsg: false
            }
        },
        methods: {

            validatingData(){
                if (this.nombre === '' ||
                    this.apellidos === '' ||
                    this.direccion === '' ||
                    this.email === '' ||
                    this.contrasena === '' ||
                    this.foto === '' ){
                    this.errorMsg = true;
                    this.createClient = false;
                } else {
                    this.errorMsg = false;
                    this.createClient = true;
                    this.addNewClient();
                }
            },

            addNewClient(){

                if(this.createClient === true){

                    var self = this;

                    axios.post('http://localhost:8000/user', {
                        nombre: self.nombre,
                        apellidos: self.apellidos,
                        direccion:  self.direccion,
                        email: self.email,
                        contrasena: self.contrasena,
                        foto: self.foto
                    })
                    .then(function(response){
                        
                        
                        console.log(response)
                    })
                    .catch(function(error){
                        console.log(error)
                    })

                    this.createClient = false

                    this.$router.push('/').catch(()=>{});
                    location.reload()
                } else {
                    console.log('No deberías dejar un campo vacio ;(')
                } 
            }
        }
    }

</script>

<style scoped>

    input{
        margin-bottom: 0.5rem;
    }

    button{
        margin: 1rem 0;
    }

    .errorMsg{
        font-weight: bold;
        color: red;
        text-decoration: underline;
    }

</style>