<template>

  <div>

        <vueHeadful
            title = 'Nuevos Productos'
            description = 'Lorem Ipsum'
            keywords = 'palabras SEO'
        />
        <h1>
            Añade un producto
        </h1>

        <h3 v-show="errorMsg" class="errorMsg">
            * Tienes campos vacios *
        </h3>

        <h3 v-show="logginMsg" class="errorMsg">
            * Debes loguearte *
        </h3>

        <div class="select">

            <p>Categoria</p>
            <select name="categoria" v-model="categoria" id="">

                <option value="ordenadores">Ordenadores</option>
                <option value="miscellaneous">Miscellaneous</option>
                <option value="fotografía">Fotografía</option>
                <option value="maquinas_escritura">Máquinas escritura</option>

            </select>
        </div>

        <br>

        <input type="text" v-model="descripcion" placeholder="Descripcion">
        
        <br>
        
        <input type="text" v-model="ubicacion" placeholder="Ubicacion">
        
        <br>
        <input type="text" v-model="precio" placeholder="Precio">
        
        <br>
        
        <input type="text" v-model="email" placeholder="Email">
        
        <br>
        
        <input type="text" v-model="horario_lugar" placeholder="Horario y lugar">
        
        <br>
        
        <input type="text" v-model="imagen" placeholder="Imagen">
        
        <br>
        
        <button @click="validatingData()">
            Nuevo producto
        </button>
  </div>
  
</template>

<script>

    import axios from 'axios';
    import { isLoggedIn } from '../../utils'
    import { getId } from '../../utils'
    import vueHeadful from 'vue-headful'

    export default {

        name: 'nuevoproducto',
        components: {
            vueHeadful
        },

        data(){
            return {
                categoria:'',
                descripcion:'',
                ubicacion: '',
                precio:'',
                email:'',
                horario_lugar:'',
                id_user:'',
                imagen:'',
                createClient: false,
                errorMsg: false,
                logginMsg: false
            }
        },

        methods: {

            validatingData(){
                if (this.categoria === '' ||
                    this.descripcion === '' ||
                    this.ubicacion === '' ||
                    this.precio === '' ||
                    this.email === '' ||
                    this.horario_lugar === '' ||
                    this.imagen === ''){
                    this.errorMsg = true;
                    this.createClient = false;
                } else if (!isLoggedIn()) {
                    this.logginMsg = true
                } else {
                    this.errorMsg = false;
                    this.createClient = true;
                    this.getIdLocal();
                    this.addNewClient();
                }
            },

            getIdLocal(){
                let idLstorage = getId()
                idLstorage = parseInt(idLstorage)
                console.log(idLstorage)
                this.id_user = idLstorage
            },
            
            addNewClient(){

                if(this.createClient === true){

                    var self = this;
                    let id_user = self.id_user;

                    axios.post('http://localhost:8000/products' + `?id_user=${id_user}`, {
                        categoria: self.categoria,
                        descripcion: self.descripcion,
                        ubicacion:  self.ubicacion,
                        precio: self.precio,
                        email: self.email,
                        horario_lugar: self.horario_lugar,
                        id_user: self.id_user,
                        imagen: self.imagen
                    })
                    .then(function(response){
                        location.reload()
                        console.log(response)
                    })
                    .catch(function(error){
                        console.log(error)
                    })

                    this.createClient = false

                } else {
                    console.log('No deberías dejar un campo vacio ;(')
                } 
            }
        }
    }

</script>

<style scoped>

    select{
        width: 6rem;
        border: none;
        padding: 0.3rem;
    }

    .select{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 1rem;
    }

    .select p{
        margin: 0 1rem 0 0;
    }

    input{
        margin-bottom: 0.5rem;
    }

    button{
        margin: 1rem 0;
    }

    .errorMsg{
        font-weight: bold;
        color: red;
        text-decoration: underline;
    }

</style>