<template>

  <div class="contenedor">

        <h1>
            Lorem, ipsum dolor.
        </h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, veniam. Inventore, fuga architecto. Deserunt, doloribus natus rem laboriosam tenetur ut. Iste maxime harum saepe ex nisi expedita, recusandae, necessitatibus facilis omnis laborum suscipit dignissimos atque voluptates ratione! Esse quisquam nobis debitis temporibus quae assumenda in quidem. Ipsa nam quisquam sunt quia delectus id impedit eveniet reprehenderit velit placeat harum, alias similique vitae molestiae repellendus amet laboriosam laborum animi exercitationem aperiam error omnis porro. Voluptas quas dolores ab aliquam. Voluptatibus, eius.</p>
        
        <productoslistado :productos="productos" v-on:indice="nuevaReserva"/>

  </div>

</template>

<script>

    import axios from 'axios';
    import productoslistado from '@/components/ProductosList.vue';
    const Swal = require('sweetalert2');
    import { isLoggedIn } from '../../utils'
    import { getId } from '../../utils'
    import { getEmail } from '../../utils'

    export default {

        name: 'Productos',

        components: {
            productoslistado
        },

        data(){
            return {
                productos: [],
                idProducto:'',
                idUser:'',
                emailVendedor:''            
            }
        },

        methods: {

            getProducts(){

                var self = this;

                // LLAMADA AXIOS A LA API
                axios.get('http://localhost:8000/products')

                .then( function(response){
                    self.productos = response.data[0]
                })

                .catch(function (error){
                    console.log(error)
                })

            },

            swetalertLogin(){

                Swal.fire({
                title: 'Uuuups!',
                text: 'Debes loguearte',
                icon: 'error',
                confirmButtonText: 'Ok'
                })

            },

            infoProducto(datosProducto){

                this.idProducto = datosProducto.id
                this.idUser = datosProducto.id_user
                this.emailVendedor = datosProducto.email

            },

            swetalertReserva(){

                Swal.fire({
                title: 'Reservado!',
                text: 'Has reservado el producto ¡¡',
                icon: 'success',
                confirmButtonText: 'Ok'
                })

            },

            getIdLocal(){
                let idLstorage = getId()
                    idLstorage = parseInt(idLstorage)
                this.id_user = idLstorage
            },

            getEmailLocal(){
                let idLstorage = getEmail()
                this.emailComprador = idLstorage
            },

            nuevaReserva(datosProducto){

                if (!isLoggedIn()){
                    this.swetalertLogin()
                } else {

                var self = this;
                const idProducto = datosProducto.id;
                const id_user = self.id_user;
                const userId = id_user;
                const email = self.emailComprador;

                axios.post('http://localhost:8000/reserva' 
                    + `?idProducto=${idProducto}&userId=${userId}&email=${email}`)
                
                .then(function(response){
                    self.swetalertReserva()
                    console.log(response)
                })

                .catch(function (error){
                    console.log(error)
                })

                //location.reload()

            }
        },
        
    },

    created(){
        this.getProducts()
        this.getIdLocal()
        this.getEmailLocal()
    }
}
</script>

<style scoped>



</style>