<template>

  <div>

    <vueHeadful 
        title="Login" 
        description="Logueate en New Old!" 
        keywords="palabras SEO" />

    <navweb/>

        <div class="slide_superior contenedor">

            <div class="contenedor_slide">

                <div class="textoSlideSuperior textoSlideSuperiorH1">
                    <h1>
                        Login
                    </h1>                
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, totam dolor facere reprehenderit pariatur omnis porro aliquam. Ipsa, excepturi nam debitis repudiandae temporibus fuga quidem magni aut earum officiis nihil?</p>                
                </div>

            </div>

        </div>

    <div>

        <p v-show="errorLogin" class="errorMsg">· Rellena los campos vacios ·</p>
        <p v-show="datosIncorrecto" class="errorMsg">· Datos no válidos ·</p>
        <input v-model="email" type="text" placeholder="Email">
        <br>
        <input v-model="contrasena" type="text" placeholder="Contraseña">
        <br>
        <button @click="loginUser()">
            Login
        </button>

    </div>

  </div>

</template>

<script>

    import { login } from '../../utils';
    import navweb from '@/components/Nav_web.vue';
    import vueHeadful from "vue-headful";

    export default {

        name: 'login',

        components: {
          vueHeadful,
          navweb
        },

        data(){

        return{
            email:'',
            contrasena:'',
            errorLogin:false,
            datosIncorrecto: false
        }

        },

        methods: {

          loginUser(){

              if (this.email === '' || this.contrasena === ''){
                  this.errorLogin = true
              } else {
                  login(this.email, this.contrasena)
                  setTimeout( () => {
                    this.$router.push('/').catch(()=>{});
                    location.reload()
                  }, 1000 )
              }
          }
        }
    }

</script>

<style scoped>

    button{
      margin: 3rem 0 2rem 0;
    }

    input{
      margin-bottom: 0.5rem;
    }

    input:first-of-type{
      margin-top: 4rem;
    }

    h1{
      color: white;
      margin: 0;
    }

    #nav {
        padding: 1rem 0;
        background-color:transparent;
        margin: 0;
        position: absolute;
        top:0;
        width: 100%;
    }   


    .slide_superior{
        background-image: url(https://images.unsplash.com/photo-1543599538-a6c4f6cc5c05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 45vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.658);
    }

    .slide_superior::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.775);
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        position: absolute; 
    }

    .textoSlideSuperior{
        color: white;
        width: 100%;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 7rem;
        padding: 1rem 0;
    }

    .textoSlideSuperior h1{
        padding-right: 2rem;
        width: 50%;
        border: 6px solid white;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .textoSlideSuperior h1:after{
        content: '';
        display:none;
        
    }

    .textoSlideSuperior p{
        padding-left: 0;
        padding-top: 0.5rem;
        width: 50%;
        margin-bottom: 1rem;
    }

    .contenedor_slide{
        display: flex;
        z-index: 1;
    }

    .contenedor:last-child{
        margin-top: 4rem;
    }


  .errorMsg{
        font-weight: bold;
        color: red;
        text-decoration: underline;
        margin: 3rem 0 0 0;
        font-size: 1.5rem;
  }

    @media (max-width: 1025px){

        h1{
            margin: 0;
            font-size: 3rem;
        }

        .contenedor_slide p{
            width: 60%;
            margin: 0;
            font-size: 1rem;
        }   

        .slide_superior{
            height: 55vh;
        }

        .contenedor_slide{
            width: 80%;
        }

        .textoSlideSuperior{
            margin-top: 3rem;
            padding: 1rem 0;
            border: none;
        }

        .textoSlideSuperior h1{
            width: 70%;
        }

        .textoSlideSuperior p{
            padding-left: 0;
            padding-top: 0.5rem;
            width: 70%;
            margin-bottom: 1rem;
        }

        .parrafos_cuenta .p_miCuenta{
          min-width: 60%;
          max-width: 90%;
        }

  }

  @media (max-width: 769px){

    button{
      margin-top: 0;
      width: 50%;
    }

    input{
      width: 50%;
      padding: 1rem;
    }  

    input:last-of-type{
      margin-bottom: 4rem;
    }  

    .textoSlideSuperior{
      border:none;
    }

    .parrafos_cuenta .p_miCuenta{
      width: 100%;
    }

    .parrafos_cuenta .p_miCuenta p{
      padding: 0;
    }

  }

  @media (max-width: 425px){

    button{
      margin-top: 0;
      width: 70%;
    }

    input{
      width: 70%;
      padding: 1rem;
    } 

        .contenedor_slide .textoSlideSuperior h1{
            font-size: 2rem;
            padding: 1rem;
        }

        .contenedor_slide{
            width: 95%;
        }

        .contenedor_slide .textoSlideSuperior p{
            width: 90%;
            font-size: 01.2rem;
            line-height: 1.6rem;
            color: white;
        } 

        .slide_superior{
            height: 100vh;
        }

        .textoSlideSuperior{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
        }

        .textoSlideSuperior h1{
            padding: 2rem;
            margin-bottom: 2rem;
            border: 6px solid white;
        }

        .textoSlideSuperior p{
            font-size: 1.5rem;
        }
  }

</style>
