<template>

  <div>

    <vueHeadful 
        title="Mi Cuenta" 
        description="Accede a tus datos" 
        keywords="palabras SEO" />

    <navweb/>

        <div class="slide_superior contenedor">

            <div class="contenedor_slide">

                <div class="textoSlideSuperior textoSlideSuperiorH1">
                    <h1>
                        Mi cuenta
                    </h1>                
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, totam dolor facere reprehenderit pariatur omnis porro aliquam. Ipsa, excepturi nam debitis repudiandae temporibus fuga quidem magni aut earum officiis nihil?</p>                
                </div>

            </div>

        </div>

    <div class="contenedor">

      <div class="parrafos_cuenta" v-show="seeEdit">

        <div class="p_miCuenta">
            <p>Nombre</p>
            <p>{{ cliente.nombre }}</p>
        </div>

        <div class="p_miCuenta">
          <p>Apellidos</p>
          <p>{{ cliente.apellidos }}</p>
        </div>

        
        <div class="p_miCuenta">
          <p>Direccion</p>
          <p>{{ cliente.direccion }}</p>
        </div>

        
        <div class="p_miCuenta">
          <p>Email</p>
          <p>{{ cliente.email }}</p>
        </div>

       
        <div class="p_miCuenta">
            <p>Rating</p>
            <p>{{ cliente.rating }}</p>
        </div>

        <div>

          <button @click="editaCliente()">
              Editar
          </button>

          <button @click="editaPassword()">
              Cambiar contraseña
          </button>

        </div>

      </div>

      <div class="botones_editar" v-show="seePassword">
        <input type="text" placeholder="Contraseña" v-model="passwordActualizado">
        <br>
        <button class="mr2" @click="cambiarPassword()">
          Guardar contraseña
        </button>
        <button @click="cambiaVolver()">
          Cancelar
        </button>
      </div>

      <div class="editar_cliente" v-show="seeSave">

        <input type="text" placeholder="Nombre" v-model="nombreActualizado">
        <br>
        <input type="text" placeholder="Apellidos" v-model="apellidosActualizado">
        <br>
        <input type="text" placeholder="Direccion" v-model="direccionActualizado">
        <br>
        <input type="text" placeholder="Email" v-model="emailaActualizado">
        <br>
        <!-- 
          <input type="text" placeholder="Foto" v-model="fotoaActualizado">
        <br>
        -->
        <button @click="actualizarCliente()">
              Guardar
        </button>
        <button @click="editaVolver()">
              Cancelar
        </button>

      </div>
      
    </div>


    
  </div>

</template>

<script>

  import axios from 'axios';
  import { getId } from '../../utils'
  import navweb from '@/components/Nav_web.vue';
  import vueHeadful from "vue-headful";

  export default {

    name: 'micuenta',

    components: {
        vueHeadful,
        navweb
    },

    data(){
      return {
        cliente: '',
        idCliente:'',
        seeEdit:true,
        seeSave:false,
        seePassword:false,
        nombreActualizado:'',
        apellidosActualizado:'',
        direccionActualizado:'',
        emailaActualizado:'',
        fotoaActualizado:'',
        passwordActualizado: '',
        id_user:''
        
      }
    },

    methods: {

          cambiaVolver(){
            this.seeEdit = true,
            this.seeSave = false,
            this.seePassword = false
          },

          editaVolver(){
            this.seeEdit = true,
            this.seeSave = false
          },

          editaCliente(){
            this.seeEdit = false,
            this.seeSave = true
          },

          editaPassword(){
            this.seeEdit = false,
            this.seeSave = false,
            this.seePassword = true
          },

          cambiarPassword(){

            var self = this;
            const id_user = self.id_user;
            //console.log(id_user)

            axios.put('http://localhost:8000/user/password/' + `?id=${id_user}`, {
              contrasena: self.passwordActualizado
            })

            .then(function(response){
              console.log(response)
            })

            .catch(function (error){
              console.log(error)
            })

            location.reload()

          },

          actualizarCliente(){

            var self = this;
            let id_user = self.id_user;
            //console.log(id_user)

            axios.put('http://localhost:8000/user/login/' + `?id=${id_user}`, {
              nombre: self.nombreActualizado,
              apellidos: self.apellidosActualizado,
              direccion: self.direccionActualizado,
              email: self.emailaActualizado,
              foto: self.fotoaActualizado
            })

            .then(function(response){
              this.seeEdit = true
              this.seeSave = false

              console.log(response)
            })

            .catch(function (error){
              console.log(error)
            })

            location.reload()

        },

        getIdLocal(){
            let idLstorage = getId()
                idLstorage = parseInt(idLstorage)
            this.id_user = idLstorage
        },

        getClients(){

            var self = this;

            axios.get('http://localhost:8000/user/' + self.id_user)

            .then( function(response){
              console.log(response.data[0]['0'])
              self.cliente = response.data[0]['0']
            })

            .catch(function (error){
              console.log(error)
            })           
        }
    },
    
    created(){
      this.getIdLocal()
      this.getClients()
    }
    
  }

</script>


<style scoped>

    button{
      margin: 3rem 0 2rem 0;
    }

    input{
      margin-bottom: 0.5rem;
    }

    h1{
      color: white;
      margin: 0;
    }

    #nav {
        padding: 1rem 0;
        background-color:transparent;
        margin: 0;
        position: absolute;
        top:0;
        width: 100%;
    }   

    .mr2{
      margin-right: 2rem;
    }


    .slide_superior{
        background-image: url(https://images.unsplash.com/photo-1518976024611-28bf4b48222e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 45vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.658);
    }

    .slide_superior::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.775);
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        position: absolute; 
    }

    .textoSlideSuperior{
        color: white;
        width: 100%;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 7rem;
        padding: 1rem 0;
    }

    .textoSlideSuperior h1{
        padding-right: 2rem;
        width: 50%;
        border: 6px solid white;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .textoSlideSuperior h1:after{
        content: '';
        display:none;
        
    }

    .textoSlideSuperior p{
        padding-left: 0;
        padding-top: 0.5rem;
        width: 50%;
        margin-bottom: 1rem;
    }

    .contenedor_slide{
        display: flex;
        z-index: 1;
    }

    .contenedor:last-child{
        margin-top: 4rem;
    }

  .parrafos_cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }

  .parrafos_cuenta .p_miCuenta{
    border: 1px solid rgba(255, 255, 255, 0.637);
    min-width: 40%;
    max-width: 90%;
  }

  .parrafos_cuenta div p:first-child{
    padding-top: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .p_miCuenta{
    background-color: rgba(133, 133, 133, 0.068);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    -webkit-box-shadow: 2px 4px 9px -1px rgba(0, 0, 0, 0.274);
    -moz-box-shadow: 2px 4px 9px -1px rgba(0,0,0,0.274);
    box-shadow: 2px 4px 9px -1px rgba(0, 0, 0, 0.274);
  }

  .p_miCuenta p{
    margin-bottom: 0.5rem;
    padding: 0 8rem;
  }

  .parrafos_cuenta button{
    margin-right: 1rem;
  }

  .parrafos_cuenta button:last-child{
    margin-right: 0;
  }

  .editar_cliente button{
    margin-right: 1rem;
  }

  .editar_cliente button:last-child{
    margin-right: 0rem;
  }

  @media (max-width: 1025px){

        h1{
            margin: 0;
            font-size: 3rem;
        }

        .contenedor_slide p{
            width: 60%;
            margin: 0;
            font-size: 1rem;
        }   

        .slide_superior{
            height: 55vh;
        }

        .contenedor_slide{
            width: 80%;
        }

        .textoSlideSuperior{
            margin-top: 3rem;
            padding: 1rem 0;
            border: none;
        }

        .textoSlideSuperior h1{
            width: 70%;
        }

        .textoSlideSuperior p{
            padding-left: 0;
            padding-top: 0.5rem;
            width: 70%;
            margin-bottom: 1rem;
        }

        .parrafos_cuenta .p_miCuenta{
          min-width: 60%;
          max-width: 90%;
        }

  }

  @media (max-width: 769px){

    .textoSlideSuperior{
      border:none;
    }

    .parrafos_cuenta .p_miCuenta{
      width: 100%;
    }

    .parrafos_cuenta .p_miCuenta p{
      padding: 0;
    }

    button:first-child{
      margin-top: 2rem;
    }  

    button{
      margin-top: 0;
      width: 100%;
    }

    input{
      width: 90%;
      padding: 1rem;
    }  

    input:last-of-type{
      margin-bottom: 4rem;
    }  

  }

  @media (max-width: 425px){

        .contenedor_slide .textoSlideSuperior h1{
            font-size: 2rem;
            padding: 1rem;
        }

        .contenedor_slide{
            width: 95%;
        }

        .contenedor_slide .textoSlideSuperior p{
            width: 90%;
            font-size: 01.2rem;
            line-height: 1.6rem;
            color: white;
        } 

        .slide_superior{
            height: 100vh;
        }

        .textoSlideSuperior{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
        }

        .textoSlideSuperior h1{
            padding: 2rem;
            margin-bottom: 2rem;
            border: 6px solid white;
        }

        .textoSlideSuperior p{
            font-size: 1.5rem;
        }
  }

</style>