<template>

  <div>

        <vueHeadful 
        title="Nuevo Usuario" 
        description="Registrate en nuestra tienda" 
        keywords="palabras SEO" />

        <navweb/>

        <div class="slide_superior contenedor">

            <div class="contenedor_slide">

                <div class="textoSlideSuperior textoSlideSuperiorH1">
                    <h1>
                        Registrate
                    </h1>                
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, totam dolor facere reprehenderit pariatur omnis porro aliquam. Ipsa, excepturi nam debitis repudiandae temporibus fuga quidem magni aut earum officiis nihil?</p>                
                </div>

            </div>

        </div>

        <h3 v-show="errorMsg" class="errorMsg">
            * Tienes campos vacios *
        </h3>

        <input type="text" v-model="nombre" placeholder="Nombre">
        <br>
        <input type="text" v-model="apellidos" placeholder="Apellido">
        <br>
        <input type="text" v-model="direccion" placeholder="Direccion">
        <br>
        <input type="text" v-model="email" placeholder="Email">
        <br>
        <input type="text" v-model="contrasena" placeholder="Contraseña">
        <br>

        <button @click="validatingData()">
            Nuevo cliente
        </button>
  </div>
  
</template>

<script>

    import axios from 'axios';
    import navweb from '@/components/Nav_web.vue';
    import vueHeadful from "vue-headful";

    export default {

        name: 'nuevousuario',

        components: {
            vueHeadful,
            navweb
        },

        data(){
            return {
                nombre:'',
                apellidos:'',
                direccion: '',
                email:'',
                contrasena:'',
                foto:'',
                createClient: false,
                errorMsg: false
            }
        },

        methods: {

            validatingData(){
                if (this.nombre === '' ||
                    this.apellidos === '' ||
                    this.direccion === '' ||
                    this.email === '' ||
                    this.contrasena === '' ||
                    this.foto === '' ){
                    this.errorMsg = true;
                    this.createClient = false;
                } else {
                    this.errorMsg = false;
                    this.createClient = true;
                    this.addNewClient();
                }
            },

            addNewClient(){

                if(this.createClient === true){

                    var self = this;

                    axios.post('http://localhost:8000/user', {
                        nombre: self.nombre,
                        apellidos: self.apellidos,
                        direccion:  self.direccion,
                        email: self.email,
                        contrasena: self.contrasena,
                        foto: self.foto
                    })
                    .then(function(response){
                        
                        
                        console.log(response)
                    })
                    .catch(function(error){
                        console.log(error)
                    })

                    this.createClient = false

                    this.$router.push('/').catch(()=>{});
                    location.reload()
                } else {
                    console.log('No deberías dejar un campo vacio ;(')
                } 
            }
        }
    }

</script>

<style scoped>

    input{
        margin-bottom: 0.5rem;
    }

    input:first-of-type{
        margin-top: 4rem;
    }

    button{
        margin: 1rem 0;
    }
    
    h3:after {
      content: '';
      display:none;
    }

    .textoSlideSuperior h1{
        margin: 0;
        color: white;
    }

    .errorMsg{
        font-weight: bold;
        color: red;
        text-decoration: underline;
    }

    #nav {
        padding: 1rem 0;
        background-color:transparent;
        margin: 0;
        position: absolute;
        top:0;
        width: 100%;
    }   

    .slide_superior{
        background-image: url(https://images.unsplash.com/photo-1501386761578-eac5c94b800a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 45vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.658);
    }

    .slide_superior::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.775);
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        position: absolute; 
    }

    .textoSlideSuperior{
        color: white;
        width: 100%;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 7rem;
        padding: 1rem 0;
    }

    .textoSlideSuperior h1{
        padding-right: 2rem;
        width: 50%;
        border: 6px solid white;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .textoSlideSuperior h1:after{
        content: '';
        display:none;
        
    }

    .textoSlideSuperior p{
        padding-left: 0;
        padding-top: 0.5rem;
        width: 50%;
        margin-bottom: 1rem;
    }

    .contenedor_slide{
        display: flex;
        z-index: 1;
    }

    .contenedor:last-child{
        margin-top: 4rem;
    }


    @media (max-width: 1024px){

        h1{
            color: black;
            margin: 0;
            font-size: 3rem;
        }

        input{
            width: 80%;
        }

        .textoSlideSuperior p{
            margin: 0;
            font-size: 1rem;
        }   

        .slide_superior{
            height: 55vh;
        }

        .contenedor_slide{
            width: 80%;
        }

        .textoSlideSuperior{
            margin-top: 3rem;
            padding: 1rem 0;
            border: none;
        }

        .textoSlideSuperior h1{
            width: 70%;
        }

    }

    @media (max-width: 769px){

        input{
            width: 80%;
        }

        .textoSlideSuperior{
            border:none;
        }

    }

    @media (max-width: 425px){

        input{
            width: 80%;
        }

        button{
            margin-top: 3rem;
        }

        .contenedor_slide .textoSlideSuperior h1{
            font-size: 2rem;
            padding: 1rem;
        }

        .contenedor_slide{
            width: 95%;
        }

        .contenedor_slide .textoSlideSuperior p{
            width: 90%;
            font-size: 01.2rem;
            line-height: 1.6rem;
            color: white;
        } 

        .slide_superior{
            height: 100vh;
        }

        .textoSlideSuperior{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
        }

        .textoSlideSuperior h1{
            padding: 2rem;
            margin-bottom: 2rem;
            border: 6px solid white;
        }

        .textoSlideSuperior p{
            font-size: 1.5rem;
        }

    }


</style>