<template>
  <div>

    <vueHeadful 
        title="Añade un producto" 
        description="Lorem Ipsum" 
        keywords="palabras SEO" />

    <navweb />

        <div class="slide_superior contenedor">

            <div class="contenedor_slide">

                <div class="textoSlideSuperior textoSlideSuperiorH1">
                    <h1>
                        Vende tu producto
                    </h1>                
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, totam dolor facere reprehenderit pariatur omnis porro aliquam. Ipsa, excepturi nam debitis repudiandae temporibus fuga quidem magni aut earum officiis nihil?</p>                
                </div>

            </div>

        </div>

    <div class="contenedor">

      <h3 v-show="errorMsg" class="errorMsg">* Tienes campos vacios *</h3>

      <h3 v-show="logginMsg" class="errorMsg">* Debes loguearte *</h3>

      <div class="select">
        <p>Categoria</p>
        <select name="categoria" v-model="categoria">
          <option value="ordenadores">Ordenadores</option>
          <option value="miscellaneous">Miscellaneous</option>
          <option value="fotografía">Fotografía</option>
          <option value="maquinas_escritura">Máquinas escritura</option>
        </select>
      </div>

      <br />

      <input type="text" v-model="descripcion" placeholder="Descripcion" />

      <br />

      <input type="text" v-model="ubicacion" placeholder="Ubicacion" />

      <br />
      <input type="text" v-model="precio" placeholder="Precio" />

      <br />

      <input type="text" v-model="email" placeholder="Email" />

      <br />

      <input type="text" v-model="horario_lugar" placeholder="Horario y lugar" />

      <br />

      <input type="text" v-model="imagen" placeholder="Imagen" />

      <br />

      <button @click="validatingData()">Nuevo producto</button>

    </div>

  </div>
</template>

<script>
import axios from "axios";
import { isLoggedIn } from "../../utils";
import { getId } from "../../utils";
import vueHeadful from "vue-headful";
import navweb from "@/components/Nav_web.vue";


export default {
  name: "nuevoproducto",
  components: {
    vueHeadful,
    navweb
  },

  data() {
    return {
      categoria: "",
      descripcion: "",
      ubicacion: "",
      precio: "",
      email: "",
      horario_lugar: "",
      id_user: "",
      imagen: "",
      createClient: false,
      errorMsg: false,
      logginMsg: false
    };
  },

  methods: {
    validatingData() {
      if (
        this.categoria === "" ||
        this.descripcion === "" ||
        this.ubicacion === "" ||
        this.precio === "" ||
        this.email === "" ||
        this.horario_lugar === "" ||
        this.imagen === ""
      ) {
        this.errorMsg = true;
        this.logginMsg = false;
      } else if (!isLoggedIn()) {
        this.errorMsg = false;
        this.logginMsg = true;
      } else {
        this.errorMsg = false;
        this.logginMsg = false;
        this.createClient = true;
        this.getIdLocal();
        this.addNewClient();
        //location.reload();
      }
    },

    getIdLocal() {
      let idLstorage = getId();
      idLstorage = parseInt(idLstorage);
      console.log(idLstorage);
      this.id_user = idLstorage;
    },

    addNewClient() {
      if (this.createClient === true) {
        var self = this;
        let id_user = self.id_user;

        axios
          .post("http://localhost:8000/products" + `?id_user=${id_user}`, {
            categoria: self.categoria,
            descripcion: self.descripcion,
            ubicacion: self.ubicacion,
            precio: self.precio,
            email: self.email,
            horario_lugar: self.horario_lugar,
            id_user: self.id_user,
            imagen: self.imagen
          })
          .then(function(response) {
            location.reload();
            console.log(response);
          })
          .catch(function(error) {
            console.log(error);
          });

        this.createClient = false;
      } else {
        console.log("No deberías dejar un campo vacio ;(");
      }
    }
  }
};
</script>

<style scoped>

  h1{
    margin-bottom: 2rem;
    color: white;
    margin: 0;
  }

  select {
    width: 6rem;
    border: none;
    padding: 0.3rem;
    height: 2.2rem;
  }

  h3:after {
    content: '';
    display:none;
  }

  .select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .select p {
    margin: 0 7rem 0 0;
    font-size: 1.5rem;
  }

  input {
    margin-bottom: 0.5rem;
  }

  button {
    margin: 1rem 0;
  }

  .errorMsg {
    font-weight: bold;
    color: red;
    text-decoration: underline;
    margin-bottom: 4rem;
  }

    #nav {
        padding: 1rem 0;
        background-color:transparent;
        margin: 0;
        position: absolute;
        top:0;
        width: 100%;
    }   

    .slide_superior{
        background-image: url(https://images.unsplash.com/photo-1541057591128-caebf6d65c8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 45vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.658);
    }

    .slide_superior::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.775);
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        position: absolute; 
    }

    .textoSlideSuperior{
        color: white;
        width: 100%;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 7rem;
        padding: 1rem 0;
    }

    .textoSlideSuperior h1{
        padding-right: 2rem;
        width: 50%;
        border: 6px solid white;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .textoSlideSuperior h1:after{
        content: '';
        display:none;
        
    }

    .textoSlideSuperior p{
        padding-left: 0;
        padding-top: 0.5rem;
        width: 50%;
        margin-bottom: 1rem;
    }

    .contenedor_slide{
        display: flex;
        z-index: 1;
    }

    .contenedor:last-child{
        margin-top: 4rem;
    }

    .select p{
        text-transform: uppercase;
    }

    @media (max-width: 1025px){

        h1{
            color: white;
            margin: 0;
            font-size: 3rem;
        }

        p{
            width: 60%;
            color: white;
            margin: 0;
            font-size: 1rem;
        }   

        .slide_superior{
            height: 55vh;
        }

        .contenedor_slide{
            width: 80%;
        }

        .textoSlideSuperior{
            margin-top: 3rem;
            padding: 1rem 0;
            border: none;
        }

        .textoSlideSuperior h1{
            width: 70%;
        }

        .textoSlideSuperior p{
            padding-left: 0;
            padding-top: 0.5rem;
            width: 70%;
            margin-bottom: 1rem;
        }

        .select{
          width: 20%;
          margin: 0 auto;
          padding-bottom: 1.5rem;
        }

        .select p{
          text-transform: uppercase;
          color: black;
        }

    }

    @media (max-width: 769px){

        .textoSlideSuperior{
            border:none;
        }

    }

    @media (max-width: 425px){

        input {
          width: 80%;
        }

        button {
          margin-top: 3rem;
        }

        select {
          width: 40%;
          height: 2rem;
        }

        option{
            font-size: 1.3rem;
        }

        .contenedor_slide .textoSlideSuperior h1{
            font-size: 2rem;
            padding: 1rem;
        }

        .contenedor_slide{
            width: 95%;
        }

        .contenedor_slide .textoSlideSuperior p{
            width: 90%;
            font-size: 01.2rem;
            line-height: 1.6rem;
            color: white;
        } 

        .slide_superior{
            height: 100vh;
        }

        .textoSlideSuperior{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
        }

        .textoSlideSuperior h1{
            padding: 2rem;
            margin-bottom: 2rem;
            border: 6px solid white;
        }

        .textoSlideSuperior p{
            font-size: 1.5rem;
        }

        .select{
          width: 90%;
        }

        .select p{
          width: 90%;
          
        }

        .select p{
          margin-right: 0;
          text-align: left;
          font-size: 1.5rem;
        }

    }

  
</style>