<template>

  <div>

        <vueHeadful 
        title="Productos" 
        description="Productos disponibles" 
        keywords="palabras SEO" />
        <navweb/>

        <div class="slide_superior contenedor">

            <div class="contenedor_slide">

                <div class="textoSlideSuperior textoSlideSuperiorH1">
                    <h1>
                        Nuestros productos
                    </h1>                
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, totam dolor facere reprehenderit pariatur omnis porro aliquam. Ipsa, excepturi nam debitis repudiandae temporibus fuga quidem magni aut earum officiis nihil?</p>                
                </div>

            </div>

        </div>

        <div class="contenedor listado_productos">

            <productoslistado :productos="productos" v-on:indice="nuevaReserva"/>
        
        </div>

  </div>

</template>

<script>

    import axios from 'axios';
    import productoslistado from '@/components/ProductosList.vue';
    const Swal = require('sweetalert2');
    import { isLoggedIn } from '../../utils'
    import { getId } from '../../utils'
    import { getEmail } from '../../utils'
    import navweb from '@/components/Nav_web.vue';
    import vueHeadful from "vue-headful";

    export default {

        name: 'Productos',

        components: {
            vueHeadful,
            productoslistado,
            navweb
        },

        data(){
            return {
                productos: [],
                idProducto:'',
                idUser:'',
                emailVendedor:''            
            }
        },

        methods: {

            getProducts(){

                var self = this;

                // LLAMADA AXIOS A LA API
                axios.get('http://localhost:8000/products')

                .then( function(response){
                    self.productos = response.data[0]
                })

                .catch(function (error){
                    console.log(error)
                })

            },

            swetalertLogin(){

                Swal.fire({
                title: 'Uuuups!',
                text: 'Debes loguearte',
                icon: 'error',
                confirmButtonText: 'Ok'
                })

            },

            infoProducto(datosProducto){

                this.idProducto = datosProducto.id
                this.idUser = datosProducto.id_user
                this.emailVendedor = datosProducto.email

            },

            swetalertReserva(){

                Swal.fire({
                title: 'Reservado!',
                text: 'Has reservado el producto ¡¡',
                icon: 'success',
                confirmButtonText: 'Ok'
                })

            },

            getIdLocal(){
                let idLstorage = getId()
                    idLstorage = parseInt(idLstorage)
                this.id_user = idLstorage
            },

            getEmailLocal(){
                let idLstorage = getEmail()
                this.emailComprador = idLstorage
            },

            nuevaReserva(datosProducto){

                if (!isLoggedIn()){
                    this.swetalertLogin()
                } else {

                var self = this;
                const idProducto = datosProducto.id;
                const id_user = self.id_user;
                const userId = id_user;
                const email = self.emailComprador;

                axios.post('http://localhost:8000/reserva' 
                    + `?idProducto=${idProducto}&userId=${userId}&email=${email}`)
                
                .then(function(response){
                    self.swetalertReserva()
                    console.log(response)
                })

                .catch(function (error){
                    console.log(error)
                })

            }
        },
        
    },

    created(){
        this.getProducts()
        this.getIdLocal()
        this.getEmailLocal()
    }
}
</script>

<style scoped>

    h1{
        color: white;
        margin: 0;
        font-size: 2.5rem;
    }

    .listado_productos h1{
        color: black;
    }

    p{
        color: white;
        margin: 0;
        font-size: 1rem;
    }

    .listado_productos p{
        color: rgb(94, 94, 94);
        margin: 4rem 0;
    }

    #nav {
        padding: 1rem 0;
        background-color:transparent;
        margin: 0;
        position: absolute;
        top:0;
        width: 100%;
    }   

    .slide_superior{
        background-image: url(https://images.unsplash.com/photo-1577382976801-bc62c36cc30f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 45vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.658);
    }

    .slide_superior::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.775);
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        position: absolute; 
    }

    .textoSlideSuperior{
        color: white;
        width: 100%;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 7rem;
        padding: 1rem 0;
    }

    .textoSlideSuperior h1{
        padding-right: 2rem;
        width: 50%;
        border: 6px solid white;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .textoSlideSuperior h1:after{
        content: '';
        display:none;
        
    }

    .textoSlideSuperior p{
        padding-left: 0;
        padding-top: 0.5rem;
        width: 50%;
        margin-bottom: 1rem;
    }

    .contenedor_slide{
        display: flex;
        z-index: 1;
    }

    .contenedor:last-child{
        margin-top: 4rem;
    }

    @media (max-width: 1025px){

        h1{
            color: white;
            margin: 0;
            font-size: 3rem;
        }

        p{
            width: 60%;
            color: white;
            margin: 0;
            font-size: 1rem;
        }   

        .slide_superior{
            height: 55vh;
        }

        .contenedor_slide{
            width: 80%;
        }

        .textoSlideSuperior{
            margin-top: 3rem;
            padding: 1rem 0;
            border: none;
        }

        .textoSlideSuperior h1{
            width: 70%;
        }

        .textoSlideSuperior p{
            padding-left: 0;
            padding-top: 0.5rem;
            width: 70%;
            margin-bottom: 1rem;
        }

    }

    @media (max-width: 769px){

        .textoSlideSuperior{
            border:none;
        }

    }

    @media (max-width: 425px){

        .contenedor_slide .textoSlideSuperior h1{
            font-size: 2rem;
            padding: 1rem;
        }

        .contenedor_slide{
            width: 95%;
        }

        .contenedor_slide .textoSlideSuperior p{
            width: 90%;
            font-size: 01.2rem;
            line-height: 1.6rem;
            color: white;
        } 

        .slide_superior{
            height: 100vh;
        }

        .textoSlideSuperior{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
        }

        .textoSlideSuperior h1{
            padding: 2rem;
            margin-bottom: 2rem;
            border: 6px solid white;
        }

        .textoSlideSuperior p{
            font-size: 1.5rem;
        }

    }

</style>