<template>

  <div>

        <navweb/>

        <h1>Contento con lo recibido ¿?</h1>
        <p v-show="errorMsg" class="errorMsg">Rellena el campo rating</p>
        <input type="text" v-model="rating" placeholder="Que nota le podrías">
        <button @click="validatingData()">Enviar </button>

  </div>

</template>

<script>

    import axios from 'axios';
    import { getId } from '../../utils'
    const Swal = require('sweetalert2');
    import { isLoggedIn } from '../../utils'
    import navweb from '@/components/Nav_web.vue';

    export default {

        name: 'nuevousuario',

        components: {
            navweb
        },

        data(){
            return {
                errorMsg: false,
                rating: '',
                idUser: '',
                idReserva:40
            }
        },

        methods: {

            swetalertLogin(){

                Swal.fire({
                title: 'Uuuups!',
                text: 'Debes loguearte',
                icon: 'error',
                confirmButtonText: 'Ok'
                })

            },

            swetalertConfirma(){

                Swal.fire({
                title: 'Seguro de tu valoración?',
                text: "No podrás cambiarla en el futuro más lejano...!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si quiero ;)'
                }).then((result) => {
                if (result.value) {
                    Swal.fire(
                    'Enviada!',
                    'Gracias por tu tiempo ;)',
                    'success'
                    )
                }
                })
            },

            validatingData(){
                if (this.rating === '' ){
                    this.errorMsg = true;
                } else {
                    this.errorMsg = false;
                    this.newRating();
                }
            },

            newRating(){

                if (!isLoggedIn()){
                    this.swetalertLogin()
                } else {
                    var self = this;
                    const idUser = self.id_user;
                    const idReserva = self.idReserva;

                    axios.post('http://localhost:8000/rating' 
                    + `?idUser=${idUser}&idReserva=${idReserva}`, {
                        rating: self.rating
                    })
                    .then(function(response){
                        self.swetalertConfirma()
                        console.log(response)
                    })
                    .catch(function(error){
                        console.log(error)
                    })
                }

            },

            getIdLocal(){
                let idLstorage = getId()
                    idLstorage = parseInt(idLstorage)
                this.id_user = idLstorage
            }
        },
    
        created(){
            this.getIdLocal()
        }
    }

</script>

<style scoped>

    .errorMsg{
        font-weight: bold;
        color: red;
        text-decoration: underline;
    }

    #nav {
        padding: 1rem 0;
        background-color:rgb(0, 0, 0);
        margin: 0;
        position: relative;
        top:0;
        width: 100%;
    }

</style>