<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #d9ddd62d;
  }

  h1 {
    text-align: center;
    margin: 4rem 0 3rem 0;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color:#2c3e50;
  }

  input {
    margin: 0.2rem 1rem;
    height: 1.3rem;
    animation: 0.1s ease forwards;
    
  }

  input::placeholder {
    padding: 0.6rem;
  }

  input:focus {
    padding: 0.3rem 0.5rem;
    animation-name: slide_image;
  }

  input:focus::placeholder {
    padding: 0;
  }

  button {
    margin: 1rem 1rem;
    padding: 0.4rem 1rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
    animation: 0.1s ease forwards;
    font-weight: bold;
    background-color: orangered;
    border: none;
    color: white;
  }

  button:hover {
    background-color: rgb(41, 61, 46);
    color: white;
    cursor: pointer;
    animation-name: slide_image;
  }

  @keyframes slide_image {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1.05);

    }

    }
</style>
