<template>

    <div>

        <ul>
            <li v-for="cliente in clientes" :key="cliente.id">
                    
                <img :src="fotoActualizada" alt="">

                <p>
                    <span>Nombre</span> <br> {{cliente.nombre}}
                </p>


                <button @click="mostrarInfoCliente(indiceCliente)">
                    Editar
                </button>

            </li>
        </ul>
        
    </div>

</template>

<script>

    export default {

        name: 'clienteslistado',
        props: {
            clientes: Array
        },
        methods: {

            enviarDatosCliente(index){
                let datosCliente = this.clientes[index]
                console.log('enviarDatosCliente')
                this.$emit('datos', datosCliente)
            },

            enviarIndiceCliente(index){
                let indiceCliente = this.clientes[index].id
                console.log('enviarDatosCliente')
                this.$emit('borrar', indiceCliente)
            }

        }

    }

</script>

<style scoped>



</style>