<template>
  <div>
    <div class="contenedor_footer">
        <div id="footer">

            <div>

                <ul>
                    <li class="titulo_footer">
                        Info para ti ;)
                    </li>
                    <li>
                        <a href="#">Página web corporativa</a> 
                    </li>
                    <li>
                        <a href="#">¿Quiénes somos?</a> 
                    </li>
                    <li>
                        <a href="#">Nuestros compromisos RSC</a> 
                    </li>
                    <li>
                        <a href="#">Todas nuestras tiendas</a> 
                    </li>
                </ul>

                <ul>
                    <li class="titulo_footer">
                        Así lo hacemos...
                    </li>
                    <li>
                        <a href="#">Nuestros envios</a> 
                    </li>
                    <li>
                        <a href="#">Así lo recibirás</a> 
                    </li>
                    <li>
                        <a href="#">Nuestros must</a> 
                    </li>
                </ul>                

            </div>

            <div>

                <ul>
                    <li class="titulo_footer">
                        Ven a visitarnos
                    </li>
                    <li>
                        Calle Lorem ipsum 17
                    </li>
                    <li>
                        00000 Street
                    </li>
                    <li>
                        555 555 555
                    </li>
                    <li>
                        666 666 666
                    </li>
                    <li>
                        asdea@gmail.com
                    </li>
                </ul>

            </div>

            <div id="foot_derecha">

                <ul>

                    <div id="foot_dcha_inferior">

                        <p id="p_imagen">" Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem corporis architecto animi voluptate earum iusto omnis ea rem inventore eveniet. "</p>
                        <li class="rrss_footer">
                            <img src="../assets/facebook.png" alt="logo lastfm" class="imgfooter">
                            <img src="../assets/instagram.png" alt="logo lastfm" class="imgfooter">
                            <img src="../assets/linkedin.png" alt="logo lastfm" class="imgfooter">
                        </li>

                    </div>

                </ul>


            </div>

        </div>
    </div>

    <div>
        <div class="final_footer">
            Lorem ipsum dolor sit amet consectetur <span>&#169</span>
        </div>
    </div>
    
  </div>
</template>


<script>
    export default {
        name:'footerCustom'
    }
</script>


<style scoped>

    li {
        font-size: 1rem;
    }

    .contenedor_footer{
        margin-top: 3rem;
        padding: 30px;
        background-color: rgba(230, 230, 230, 0.582);
        box-shadow: 0px -2px 8px -2px rgba(185, 185, 185, 0.5);
    }

    #footer {
        width: 80%;
        margin:0 auto;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(15rem, 1fr) );  
        padding: 1rem 0 1.5rem 0;
        font-size: 1.3rem;
        color: rgb(99, 99, 99);
    }

    .titulo_footer {
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1rem;
        color: black;

    }

    .titulo_footer img {
        width: 5rem;
        margin: 0.5rem 0 3rem 0;
        text-align: center;
        padding-left: 3rem;
    }

    .rrss_footer img {
        width:2rem;
        padding-right: 1rem;
    }

    .rrss_footer img:nth-last-child(1) {
        padding-right: 0rem;
    }

    ul li a {
        text-decoration: none;
        color: rgb(99, 99, 99);
    }

    ul li a:hover {
        color:rgb(224, 224, 224);
    }

    .imgfooter{
        width: 150px;
    }

    .final_footer {
        padding: 0.7rem 0 0.7rem 0;
        background-color:rgb(82, 82, 82);;
        color: white;
        font-size: 1rem;
    }

    ul {
        list-style: none;
        text-align: left;
    }

    .footer ul li {
        padding-bottom: 0.8rem;
        list-style: none;
    }

    #p_imagen {
        margin-top: -50px;
        font-style: italic;
    }

    #foot_derecha ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #foot_dcha_inferior{
        padding-top: 6.5rem;
        text-align: right;
    }

    @media (max-width: 1068px) {
        
        #footer {
        width: 90%;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        }

        .titulo_footer img {
        width: 250px;
        margin-top: -40px;
        
    }
    }

</style>