<template>
  <div>
    <div class="contenedor_search">
      <input type="search" v-model="searchCategoria" placeholder="Busca por categoria" />
      <input type="search" v-model="searchDescripcion" placeholder="Busca por descripción" />
      <input type="search" v-model="searchUbicacion" placeholder="Busca por ubicación" />
      <input type="search" v-model="searchPrecio" placeholder="Busca por precio" />
    </div>

    <ul class="contenedor_productos">
      <li v-for="(producto, index) in filtered" :key="producto.id">
        <div class="imagen">
          <img :src="producto.imagen" alt />
        </div>

        <div class="card_producto">
          <p>
            <span>Categoria</span>
            <br />
            {{producto.categoria}}
          </p>
          <p>
            <span>Descripcion</span>
            <br />
            {{producto.descripcion}}
          </p>
          <p>
            <span>Ubicacion</span>
            <br />
            {{producto.ubicacion}}
          </p>
          <p>
            <span>Precio</span>
            <br />
            {{producto.precio}}
          </p>
          <p>
            <span>Email</span>
            <br />
            {{producto.email}}
          </p>
          <p>
            <span>Horario_lugar</span>
            <br />
            {{producto.horario_lugar}}
          </p>
        </div>

        <button @click="enviardatosProducto(index)">Reservar</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "productoslistado",

  props: {
    productos: Array
  },

  data() {
    return {
      searchCategoria: "",
      searchDescripcion: "",
      searchUbicacion: "",
      searchPrecio: ""
    };
  },

  methods: {
    enviardatosProducto(index) {
      let datosProducto = this.productos[index];
      this.$emit("indice", datosProducto);
    }
  },

  computed: {
    filtered() {
      if (this.searchCategoria) {
        return this.productos.filter(producto =>
          producto.categoria
            .toLowerCase()
            .includes(this.searchCategoria.toLowerCase())
        );
      } else if (this.searchDescripcion) {
        return this.productos.filter(producto =>
          producto.descripcion
            .toLowerCase()
            .includes(this.searchDescripcion.toLowerCase())
        );
      } else if (this.searchUbicacion) {
        return this.productos.filter(producto =>
          producto.ubicacion
            .toLowerCase()
            .includes(this.searchUbicacion.toLowerCase())
        );
      } else if (this.searchPrecio) {
        return this.productos.filter(
          producto => parseInt(producto.precio) <= this.searchPrecio
        );
      } else {
        return this.productos;
      }
    }
  }
};
</script>

<style scoped>

    .contenedor_search{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    input{
        margin-bottom: 2rem;
        padding: 0.5rem;
    }

    img {
        width: 15rem;
    }

    ul{
        padding-left: 0;
    }

    li {
        list-style: none;
        border: 1px solid rgb(197, 197, 197);
    }

    li p {
        margin: 1rem 0 0 0;
    }

    li button {
        width: 100%;
        padding: 1rem;
    }

    .card_producto p:last-child {
        margin-bottom: 2rem;
    }

    .imagen img {
        width: 100%;
    }

    .contenedor_busqueda{
        margin: 10rem;
    }

    .contenedor_productos {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

</style>