<template>

    <div>
        
        <input type="search" v-model="searchDescripcion" placeholder="Busca por descripción">
        <button>Buscar</button>

    </div>

</template>

<script>

    export default {

        name: 'productosslide',

        props: {
            productos: Array
        },
        
        data (){
            return {
                searchDescripcion:'',
            }
        },

        methods: {

            enviardatosProducto(index){
                let datosProducto = this.productos[index]
                this.$emit('indice', datosProducto)
            }

        },

        computed: {
            
            filtered(){
  
                if ( this.searchDescripcion ){
                    return this.productos.filter( producto => 
                    producto.descripcion.toLowerCase().includes(this.searchDescripcion.toLowerCase()))
                }                
                      
            }
        }

    }

</script>

<style scoped>

    li {
        list-style: none;
    }

</style>