<template>

  <div>

    <menunav/>
    <div class="home">

      <h1>
        Lorem, ipsum dolor.
      </h1>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum et voluptatum autem veritatis explicabo beatae esse ea molestias magni libero ipsam officia, expedita eveniet cupiditate eaque atque? Hic harum labore quibusdam totam! Laudantium quis ducimus id nemo sint natus suscipit!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint modi, iste non rerum fugiat vero, in ut ad eum blanditiis id ea eligendi labore officia esse provident aliquam tempore accusantium!</p>

    </div>

    <div class="stack">

        <h2>Stack actual</h2>
        <div class="imagenes">

          <div>
            <img src="../assets/css.png" alt="">
            <p>CSS3</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit!</p>
          </div>
          <div>
            <img src="../assets/vue.png" alt="">
            <p>VUE.JS</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit!</p>
          </div>
          <div>
            <img src="../assets/html.png" alt="">
            <p>HTML5</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit!</p>
          </div>
          <div>
            <img src="../assets/node.jpeg" alt="">
            <p>NODE.JS</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit!</p>
          </div>
          
        </div>
      
    </div>

    <div class="home">

        <h1>Lorem, ipsum dolor.</h1>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis aliquid, iusto illum nobis, quod tempore fugiat sit molestias possimus reiciendis voluptatum explicabo ea cum doloremque incidunt soluta accusantium corporis deserunt officia tenetur? Tempore, sit, officiis ab praesentium molestiae doloremque fuga perspiciatis omnis magni accusantium rem voluptatibus, quibusdam nostrum officia in?</p>          

        <p class="puntos">. . .</p>

    </div>

    <footercustom/>

  </div>
  
</template>

<script>

  import menunav from '@/components/Menu.vue'
  import footercustom from '@/components/FooterCustom.vue'

  export default {
    name: 'About',
    components: {
      menunav,
      footercustom
    }
  }

</script>

<style scoped>

  img {
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 5rem;
    margin-top: 0;
    font-size: 2rem;
  }

  .home {
    width: 80%;
    margin:0 auto;
  }

  .home a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(110, 110, 110);
  }

  .home p:last-of-type{
    margin-bottom: 4rem;
  }

  .imagenAbout img{
    width: 20rem;
    border: 2px solid #43722334;
    margin: 1rem 0;
  }
  
  .stack {
    background-color: white;
    padding: 3rem 0;
  }

  .imagenes {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .imagenes img{
    width: 4rem;
    height: 4rem;
    margin-bottom: 0;
  }

  .imagenes p{
    margin-top: 0;
    padding-top: 1rem;
    font-weight: bold;
  }

  .imagenes p:last-of-type{
    color: rgb(97, 97, 97);
  }

  .redes {
    padding: 3rem;
    display: flex;
    flex-direction: column;
  }

  .redes span{
    font-size: 1.2rem;
    font-weight: bold;
  }

  .pRedes{
    font-weight: bold;
  }

  .linkedin {
    margin-top: 1rem;
    width: 7rem;
  }

  .puntos{
        margin:0;
        padding: 0;
        font-size: 10rem;
  }

</style>
