<template>

  <div>
    <menunav/>
    <h1>
      Listado clientes
    </h1>

    <clienteslistado v-on:datos="mostrarInfoCliente" v-on:borrar="borrandoCliente" 
                      :clientes="clientes"/>

    <!-- MODAL PARA ACTUALIZAR CLIENTE-->
    <div v-show="seeModal" class="modal">

      <div class="modalBox">

        <h3>
          Actualiza los datos de tu cliente
        </h3>
        <p>
          ID del cliente: {{idCliente}}
        </p>
        <input type="text" placeholder="Nombre del cliente" v-model="nombreActualizado">
        <br>
        <input type="text" placeholder="Usuario del cliente" v-model="usuarioActualizado">
        <br>
        <input type="text" placeholder="Password del cliente" v-model="passwordActualizado">
        <br>
        <input type="text" placeholder="Email del cliente" v-model="emailaActualizado">
        <br>
        <input type="text" placeholder="Foto del cliente" v-model="fotoaActualizado">
        <br>
        <button @click="seeModal =! seeModal">
          Cancelar
        </button>

        <button @click="actualizarCliente()">
          Actualizar cliente
        </button>

      </div>

    </div>

    <footercustom/>

  </div>

</template>

<script>

  import axios from 'axios';
  import clienteslistado from '@/components/ClienteComponente.vue'
  import menunav from '@/components/Menu.vue'
  import footercustom from '@/components/FooterCustom.vue'

  export default {

    name: 'Clientes',
    components: {
      clienteslistado,
      menunav,
      footercustom
    },
    data(){
      return {
        clientes: [],
        idCliente: '',
        nombreActualizado:'',
        usuarioActualizado:'',
        passwordActualizado:'',
        emailaActualizado:'',
        fotoaActualizado:'',
        seeModal: false
      }
    },
    methods: {

      borrandoCliente(indiceCliente){

        var self = this

        axios.delete('http://localhost:8000/delete/' + indiceCliente)

        .then( function(response){
          console.log(response)
        })

        .catch(function (error){
          console.log(error)
        })

        location.reload()

      },

      actualizarCliente(){

        var self = this;

        axios.put('http://localhost:8000/update/' + self.idCliente, {
          nombre: self.nombreActualizado,
          usuario: self.usuarioActualizado,
          password: self.passwordActualizado,
          email: self.emailaActualizado,
          foto: self.fotoaActualizado
        })

        .then(function(response){
          console.log(response)
        })

        .catch(function (error){
          console.log(error)
        })

        location.reload()

      },

      mostrarInfoCliente(datosCliente){

        this.nombreActualizado = datosCliente.nombre
        this.usuarioActualizado = datosCliente.usuario
        this.passwordActualizado = datosCliente.password
        this.emailaActualizado = datosCliente.email
        this.fotoaActualizado = datosCliente.foto
        this.idCliente = datosCliente.id

        this.seeModal = true

      },

      // FUNCION PARA CONSEGUIR LOS CLIENTES
      getClients(){

        var self = this;
        // LLAMADA AXIOS A LA API
        axios.get('http://localhost:8000/clientes')

        .then( function(response){
          self.clientes = response.data
        })

        .catch(function (error){
          console.log(error)
        })

      }
    },
    created(){
      this.getClients()
    }
  }

</script>

<style scoped>

  .modal {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .modalBox {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 3rem;
    width: 80%;
    border: 1px solid #888;
    
  }

  input {
    width: 200px;
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
    text-align: center;
  }
     

</style>