<template>
  <div>
      <menunav/>
      <h1>Esto no nos gusta ;(</h1>
      <img src="../assets/error.jpeg" alt="">
      <footercustom/>
  </div>
</template>

<script>

    import menunav from '@/components/Menu.vue'
    import footercustom from '@/components/FooterCustom.vue'

    export default {
        name:'Error',
        components: {
            menunav,
            footercustom
        }
    }

</script>

<style scoped>

</style>