<template>

  <div>

      <vueHeadful
        title = 'Estas en home'
        description = 'Descripcion de prueba'
        keywords = 'palabras SEO'
      />

      <menunav/>

      <div class="slide">
          <div class="loremSlide">

            <h1>Lorem ipsum dolor sit.</h1>
            <input type="text" placeholder="Tu búsqueda aquí ...">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sunt, debitis, nam iste sequi atque pariatur nesciunt magni deleniti dolores, laborum praesentium possimus amet dicta commodi? Quidem, nihil rem! Maiores modi quos earum deserunt esse?</p>              

          </div>

          <img src="" alt="">
      </div>

      <div class="contenedor">

        <h1>Hola ¡¡!!</h1>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis aliquid, iusto illum nobis, quod tempore fugiat sit molestias possimus reiciendis voluptatum explicabo ea cum doloremque incidunt soluta accusantium corporis deserunt officia tenetur? Tempore, sit, officiis ab praesentium molestiae doloremque fuga perspiciatis omnis magni accusantium rem voluptatibus, quibusdam nostrum officia in?</p>          

        <p class="puntos">. . .</p>

      </div>

      <footercustom/>

  </div>

</template>

<script>

    import menunav from '@/components/Menu.vue'
    import footercustom from '@/components/FooterCustom.vue'
    import vueHeadful from 'vue-headful'

    export default {
        name: 'Home',
        components: {
            menunav,
            footercustom,
            vueHeadful
        }
    }

</script>

<style scoped>

    h1{
        margin: 3rem 0 1.5rem 0;
    }

    input {
        width: 70%;
        border-radius: 0.3rem;
        border: none;
        height: 2rem;
        box-shadow: 3px 3px 5px #999;
    }

    input::placeholder {
        font-size: 0.8rem;
        
    }

    .slide{
        background-image: url(../assets/slide7.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 90vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slide::before {
        content: '';
        background-color: rgba(0,0,0,.4);
        z-index: 3;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        position: absolute; 
    }

    .loremSlide {
        width: 40%;
        margin:0 auto;
        color: white;
        z-index: 99;
    }

    .loremSlide p{
        margin-top: 1.5rem;
    }

    .contenedor {
        width: 80%;
        margin: 0 auto;
    }

    .puntos{
        margin:0;
        padding: 0;
        font-size: 10rem;
    }


</style>