<template>

  <div>
    <menunav/>
    <h1>
      Listado productos
    </h1>

    <productolistado :productos="productos"/>

    <footercustom/>

  </div>

</template>

<script>

  import axios from 'axios';
  import productolistado from '@/components/ProductoComponente.vue'
  import menunav from '@/components/Menu.vue'
  import footercustom from '@/components/FooterCustom.vue'

  export default {

    name: 'productos',
    components: {
      productolistado,
      menunav,
      footercustom
    },
    data(){
      return {
        productos: []
      }
    },
    methods: {

      // FUNCION PARA CONSEGUIR LOS CLIENTES
      getProducts(){

        var self = this;
        // LLAMADA AXIOS A LA API
        axios.get('http://localhost:8000/productos')

        .then( function(response){
          self.productos = response.data
        })

        .catch(function (error){
          console.log(error)
        })

      }
    },
    created(){
      this.getProducts()
    }
  }

</script>

<style scoped>

  .modal {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .modalBox {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 3rem;
    width: 80%;
    border: 1px solid #888;
  }

  input {
    width: 200px;
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
    text-align: center;
  }
     

</style>