<template>

  <div>

        <menunav/>
        <h1>
            Formulario de cliente
        </h1>

        <h3 v-show="errorMsg" class="errorMsg">
            * Tienes campos vacios *
        </h3>

        <input type="text" v-model="nombre" placeholder="Nombre">
        <br>
        <input type="text" v-model="usuario" placeholder="Usuario">
        <br>
        <input type="text" v-model="email" placeholder="Email">
        <br>
        <input type="text" v-model="password" placeholder="Password">
        <br>
        <input type="text" v-model="foto" placeholder="Foto">
        <br>
        <button @click="validatingData()">
            Nuevo cliente
        </button>

        <footercustom/>

  </div>
  
</template>

<script>

    import axios from 'axios';
    import menunav from '@/components/Menu.vue'
    import footercustom from '@/components/FooterCustom.vue'

    export default {
        name: 'addClients',
        components: {
            menunav,
            footercustom
        },
        data(){
            return {
                nombre:'',
                usuario:'',
                email:'',
                password:'',
                foto:'',
                createClient: false,
                errorMsg: false
            }
        },
        methods: {

            validatingData(){
                if (this.nombre === '' ||
                    this.usuario === '' ||
                    this.email === '' ||
                    this.password === '' ||
                    this.foto === ''){

                    this.errorMsg = true;
                    this.createClient = false;
                } else {
                    this.errorMsg = false;
                    this.createClient = true;
                    this.addNewClient();
                }
            },

            addNewClient(){

                if(this.createClient === true){

                    var self = this;

                    axios.post('http://localhost:8000/add', {
                        nombre: self.nombre,
                        usuario: self.usuario,
                        email: self.email,
                        password: self.password,
                        foto: self.foto
                    })
                    .then(function(response){
                        console.log(response)
                    })
                    .catch(function(error){
                        console.log(error)
                    })

                    this.createClient = false
                    this.nombre = ''
                    this.usuario = ''
                    this.email = ''
                    this.password = ''
                    this.foto = ''

                } else {
                    console.log('No deberías dejar un campo vacio ;(')
                } 
            }
        }
    }

</script>

<style scoped>

    .errorMsg{
        font-weight: bold;
        color: red;
        text-decoration: underline;
    }

</style>