<template>

  <div id="app">

    <div id="nav">

      <div class="contenedor_flex">

        <div class="logo">
           · LOGO ·
        </div>

        <div class="links">
          <router-link :to="{ name: 'Home' }">Home</router-link> 
          <router-link :to="{ name: 'Productos' }">Productos</router-link>
          <router-link :to="{ name: 'nuevousuario' }">Registro</router-link>
          <router-link :to="{ name: 'micuenta' }" v-show="loggedout">Mi cuenta</router-link>
          <router-link :to="{ name: 'nuevoproducto' }">+Producto</router-link>  
        </div>
        
        <div class="button">
          
          <button v-show="loggedout" @click="logoutUser()">
            Logout
          </button>

          <button v-show="loggedin" @click="loginUserIn()">
            Login
          </button>
        </div>

      </div>

    </div>

    <router-view/>

    <footercustom/>

  </div>

</template>

<script>

  import { logout } from '../utils'
  import { isLoggedIn } from '../utils'
  import footercustom from '@/components/FooterWeb.vue'
  import menuup from '@/components/MenuUp.vue'

  export default {

    components:{
      footercustom,
      menuup
    },
    data(){
      return {
        username:'',
        loggedout: false,
        loggedin: false
      }
    },
    methods: {
      logoutUser() {

        this.loggedin = true
        this.loggedout = false
        logout()
        //location.reload()
        //this.$router.push('/')
        
      },
      loginUserIn(){
        //this.loggedin = false
        this.$router.push('/user/login')
      },
      loginUserOut(){
        this.loggedout = true
      },
      getLogin(){
        this.loggedout = isLoggedIn()
        this.loggedin = !isLoggedIn()
      }
    },
    created(){
      this.getLogin()
    }

  }
</script>

<style>

  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;700;800&family=Dosis:wght@300;400;600;700&display=swap" rel="stylesheet');

  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    font-family: 'Dosis', sans-serif;
  }

  .contenedor{
    width: 80%;
    margin: 0 auto;
  }

  .contenedor_flex{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #nav {
    padding: 1rem;
    height: 2.5rem;
    background-color: rgb(255, 255, 255);
    margin: 0;
    box-shadow: 0px 2px 2px 2px rgba(184, 184, 184, 0.164);
    
  }

  .logo{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 700;
  }

  #nav a {
    color: rgb(0, 0, 0);
    padding-right: 2rem;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  #nav a:nth-last-child(1) {
    padding-right: 0;
  }

  #nav a:hover {
    color:rgb(109, 109, 109);
  }

  #nav a.router-link-exact-active {
    color:rgb(143, 209, 173);
  }

  h1{
    margin: 3rem 0 4rem 0;
    font-size: 2.5rem;
    font-weight:bold;
    color: black;
  }

  h2 {
    margin: 0;
    padding-top: 3rem;
    font-size: 2.5rem;
    color: black;
  }

  p{
    margin-bottom: 3rem;
    font-size: 1rem;
  }

  h1:after {
    content: '';
    display:block;
    width: 60px;
    height:35px;
    background:url('./assets/linea.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left:47.5%;
  }

  a {
      text-decoration:none;
      color:rgb(3, 22, 3);
  }

  input {
    padding: 0.3rem;
    animation: 0.1s ease forwards;
  }

  input::placeholder {
    padding: 0.3rem;
  }

  input:focus {
    padding: 0.7rem 0.5rem;
    animation-name: slide_image;
  }

  input:focus::placeholder {
    padding: 0;
  }

  button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
    animation: 0.1s ease forwards;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(56, 56, 56);
    color: black;
    font-size: 0.8rem;
  }

  button:hover {
    background-color: orangered;
    border: 2px solid orangered;
    color: white;
    cursor: pointer;
    animation-name: slide_image;
  }

    .contenedor_texto{
        width: 80%;
        margin: 0 auto;
    }

    .contenedor_texto p {
        font-size: 1.35rem;
        color: rgb(77, 77, 77);
    }

    .contenedor_input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;
    }

    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

    .busqueda {
        width: 25%;
        height: 2.5rem;
        font-size: 1.3rem;
        background-color: rgb(245, 248, 242);
        border-radius: 0.3rem;
        border: 2px solid rgb(189, 224, 189);
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    .busqueda:hover {
        cursor: pointer;
    }

    .busqueda:active {
        cursor: pointer;
        text-align: left;
        padding-left: 1rem;
    }

    .busqueda:focus{
        border: 2px solid rgb(126, 189, 126);
        text-align: left;
        padding-left: 1rem;
    }

    .busqueda:focus::placeholder{
        color: transparent;
    }

    .contenedor_master {
        background-color: rgb(248, 248, 248);
    }

    .master {
        padding: 8rem 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2.5em;
        width: 80%;
        justify-self: center;   
        color: black;
    }

    .listado {
        justify-self: center;     
        width: 250px;
        height: 350px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        border: 3px solid rgb(173, 173, 173);
        background-size: cover;
        background-position: center;
        box-shadow: 8px -8px 8px -6px rgba(129, 129, 129, 0.2);
        animation: 0.1s ease forwards;
        border-radius: 3px 3px 3px 3px;
    }

    .listado:hover {
        animation-name: slide_image;
        cursor: pointer;
        box-shadow: 8px -8px 8px -6px rgba(109, 109, 109, 0.1);
    }

    .image {
        /*background-image: url();
        background-size: cover;
        background-position: center;*/
        width: 100%;
        height: 200px;;
    }

    .contenedor_cards {
        height:auto;
        background-color: white;
        display: flex;
        flex-grow: 1;
        width: 74%;
        flex-direction: column;
        padding: 1rem 2rem;
    }

    .contenedor_cards span {
        font-size: 1.1rem;        
    }

    .cards {
        padding-top: 0.5rem;
        font-size: 1.1rem;
    }

    @keyframes slide_image {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.08);

    }

    }

  @media (max-width: 968px) {
        
    h1:after {
        content: '';
        display:none;
        width: 65px;
        height:65px;
        background:url('./assets/trespuntos.png');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        z-index:100000; /*a number that's more than the modal box*/
        left:49%;
        top:245px;
    }

    .busqueda {
        width: 70%;
        height: 2.5rem;
        font-size: 1.3rem;
        background-color: rgb(245, 248, 242);
        border-radius: 0.3rem;
        border: 2px solid rgb(189, 224, 189);
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    .master {
        width: 90%;
    }

    .listado {    
        width: 300px;
        height: 350px;
    }

    .contenedor_cards {
        width: 78%;
    }
  }
</style>
