<template>

    <div>

        <ul>
            <li v-for="(cliente, index) in clientes" :key="cliente.id">
                
                <img :src="cliente.foto" alt="">
                <p>
                    <span>Nombre</span> <br> {{cliente.nombre}}
                </p>
                <p>
                    <span>Usuario</span> <br> {{cliente.usuario}}
                </p>
                <p>
                    <span>Password</span> <br> {{cliente.password}}
                </p>
                <p>
                    <span>Email</span> <br> {{cliente.email}}
                </p>
                <button @click="enviarIndiceCliente(index)">
                    Borrar
                </button>
                <button @click="enviarDatosCliente(index)">
                    Editar
                </button>
            </li>
        </ul>

    </div>

</template>

<script>

    export default {

        name: 'clienteslistado',
        props: {
            clientes: Array
        },
        methods: {

            enviarDatosCliente(index){
                let datosCliente = this.clientes[index]
                this.$emit('datos', datosCliente)
            },

            enviarIndiceCliente(index){
                let indiceCliente = this.clientes[index].id
                this.$emit('borrar', indiceCliente)
            }

        }

    }

</script>

<style scoped>

    ul {
        list-style-type: none;
        width: 80%;    
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    li {
        border: 1px solid rgba(180, 180, 180, 0.555); 
        background-color: white;
        padding: 1rem; 
        margin: 2rem 2rem;
        width: 20rem;
    }

    li :first-child{
        margin-top: 1.5rem;
    }

    li p {
        border-bottom: 2px solid rgba(73, 146, 14, 0.212);
        width: 6rem;
        margin: 0 auto;
        margin-bottom: 1.2rem;
        padding-bottom: 0.3rem;
        text-align: center;
    }

    li p::selection {
        background: rgba(238, 255, 0, 0.863);
    }

    li p span{
        font-size: 0.7rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    img {
        width: 20rem;
        margin-bottom: 2rem;
    }

    @media (max-width: 538px) {

        ul {
        width: 90%;
        margin:0;    
        }

        li {
        padding: 1rem; 
        margin: 0;
        width: 15rem;
        }

        img {
        width: 15rem;
        margin-bottom: 2rem;
    }
    }

</style>