<template>
  <div>
    <div class="contenedor_footer">

        <div class="footer">

            <ul>
                <li class="titulos_footer">Título</li>
                <li>Enlace</li>
                <li>Enlace</li>
                <li>Enlace</li>
            </ul>

            <ul>
                <li class="titulos_footer">Título</li>
                <li>Enlace</li>
                <li>Enlace</li>
                <li>Enlace</li>
            </ul>

            <ul>
                <li class="titulos_footer">Título</li>
                <li>Enlace</li>
                <li>Enlace</li>
                <li>Enlace</li>
            </ul>

            <ul>
                <li class="titulos_footer">Título</li>
                <li>Enlace</li>
                <li>Enlace</li>
                <li>Enlace</li>
            </ul>

        </div>

    </div>

    <div class="final_footer">
        Lorem ipsum dolor sit amet consectetur
    </div>

  </div>

</template>


<script>
    export default {
        name:'FooterCustom'
    }
</script>


<style scoped>

    .contenedor_footer{
        width: 100%;
        height: 8rem;
        background-color: #d9ddd62d;
        margin-top:4rem;
        padding: 1.5rem 0;
    }

    .footer{
        width:80%;
        margin:0 auto;
        display: flex;
        justify-content: space-around;
    }

    ul {
        list-style: none;
        text-align: left;
    }

    .titulos_footer{
            text-transform: uppercase;
            font-weight: bold;
    }

    .final_footer{
        padding: 1rem;
        background-color: rgba(221, 221, 221, 0.452);
        font-size: 0.85rem;
    }


</style>
