<template>

  <div>
      <div class="menu">
          <div class="contenedorMenu" id="nav">
                <router-link :to="{ name: 'Home' }">Home</router-link>
                <router-link :to="{ name: 'About' }">About</router-link>
                <router-link :to="{ name: 'Clientes' }">Clientes</router-link>
                <router-link :to="{ name: 'Productos' }">Productos</router-link>
                <router-link :to="{ name: 'Registro' }">Registro</router-link>
          </div>         
      </div>
  </div>

</template>

<script>

    export default {
        name:'MenuNav'
    }

</script>

<style scoped>

    .menu {
        width: 100%;
        height: 3rem;
        background-color:#d9ddd62d;
    }

    .contenedorMenu{
        width: 80%;
        margin: 0 auto;        
    }

    #nav {
        padding: 1rem 0;
    }

    #nav a {
        font-weight: bold;
        color: #2c3e50;
        text-decoration: none;
        padding-right: 1rem;
    }

    #nav a:hover {
        color: #2c3e508c;
    }

    #nav a.router-link-exact-active {
        color: #70cbff;
    }

    ul{ 
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin:0;
        padding-left: 0;
        list-style: none;
    }

    li {
        color: #414f5e;
        font-size: 1rem;
        cursor: pointer;
        padding-right: 0.7rem;
    }

</style>