<template>

    <div>

        <ul>
            <li v-for="producto in productos" :key="producto.id">

                <img :src="producto.imagen" alt="">
                <p>
                    <span>Nombre</span> <br> {{producto.nombre}}
                </p>
                <p>
                    <span>Stock</span> <br> {{producto.stock}}
                </p>
                <p>
                    <span>Disponibilidad</span> <br> {{producto.disponibilidad}}
                </p>
                <button @click="swetalertCompra()">
                    Comprar
                </button>
                <button @click="swetalertReserva()">
                    Reservar
                </button>
            </li>
        </ul>

    </div>

</template>

<script>

    const Swal = require('sweetalert2')

    export default {

        name: 'productos',
        props: {
            productos: Array
        },
        methods: {
            swetalertCompra(){
            Swal.fire({
            title: 'Comprado!',
            text: 'Has comprado el producto ¡¡',
            icon: 'success',
            confirmButtonText: 'Ok'
            })
            },
            swetalertReserva(){
            Swal.fire({
            title: 'Reservado!',
            text: 'Has reservado el producto ¡¡',
            icon: 'success',
            confirmButtonText: 'Ok'
            })
            }
        }

    }

</script>

<style scoped>

    ul {
        list-style-type: none;
        width: 80%;    
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    li {
        border: 1px solid rgba(180, 180, 180, 0.555); 
        background-color: white;
        padding: 1rem; 
        margin: 2rem 2rem;
        width: 20rem;
    }

    li :first-child{
        margin-top: 1.5rem;
    }

    li p {
        border-bottom: 2px solid rgba(73, 146, 14, 0.212);
        width: 6rem;
        margin: 0 auto;
        margin-bottom: 1.2rem;
        padding-bottom: 0.3rem;
        text-align: center;
    }

    li p::selection {
        background: rgba(238, 255, 0, 0.863);
    }

    li p span{
        font-size: 0.7rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    img {
        width: 20rem;
        margin-bottom: 2rem;
    }

    @media (max-width: 538px) {

        ul {
        width: 90%;
        margin:0;    
        }

        li {
        padding: 1rem; 
        margin: 0;
        width: 15rem;
        }

        img {
        width: 15rem;
        margin-bottom: 2rem;
    }
    }

</style>