<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> 
      <router-link to="/topartists">Top artists</router-link> 
      <router-link to="/toptracks">Top tracks</router-link>
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
    <footercustom/>
  </div>
</template>

<script>
  import footercustom from '@/components/FooterCustom.vue'

  export default {
    name: 'footerCustom',
    components:{
      footercustom
    }
  }

</script>

<style>

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    font-family: 'Oswald', sans-serif;
  }

  #nav {
    padding: 30px 30px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    margin: 0 0 2.5rem 0;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.3);
  }

  #nav a {
    font-weight: bold;
    color: white;
    padding-right: 2rem;
    font-size: 1.4rem;
    text-decoration: none;
  }

  #nav a:nth-last-child(1) {
    padding-right: 0;
  }

  #nav a:hover {
    color:rgb(224, 224, 224);
  }

  #nav a.router-link-exact-active {
    color:rgb(143, 209, 173);
  }

      h1 {
        padding: 0.5em;
        width: 80%;
        margin: 0 auto;
        font-size: 3.5rem;
        padding-bottom: 4rem;
        color: black;
    }

    h1:after {
        content: '';
        display:block;
        width: 60px;
        height:60px;
        background:url('./assets/trespuntos.png');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        z-index:100000; /*a number that's more than the modal box*/
        left:48.5%;
        top:245px;
    }

    a {
      text-decoration:none;
      color:rgb(3, 22, 3);
    }

    .contenedor_texto{
        width: 80%;
        margin: 0 auto;
    }

    .contenedor_texto p {
        font-size: 1.35rem;
        color: rgb(77, 77, 77);
    }

    .contenedor_input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;
    }

    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

    .busqueda {
        width: 25%;
        height: 2.5rem;
        font-size: 1.3rem;
        background-color: rgb(245, 248, 242);
        border-radius: 0.3rem;
        border: 2px solid rgb(189, 224, 189);
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    .busqueda:hover {
        cursor: pointer;
    }

    .busqueda:active {
        cursor: pointer;
        text-align: left;
        padding-left: 1rem;
    }

    .busqueda:focus{
        border: 2px solid rgb(126, 189, 126);
        text-align: left;
        padding-left: 1rem;
    }

    .busqueda:focus::placeholder{
        color: transparent;
    }

    .contenedor_master {
        background-color: rgb(248, 248, 248);
    }

    .master {
        padding: 8rem 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2.5em;
        width: 80%;
        justify-self: center;   
        color: black;
    }

    .listado {
        justify-self: center;     
        width: 250px;
        height: 350px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        border: 3px solid rgb(173, 173, 173);
        background-size: cover;
        background-position: center;
        box-shadow: 8px -8px 8px -6px rgba(129, 129, 129, 0.2);
        animation: 0.1s ease forwards;
        border-radius: 3px 3px 3px 3px;
    }

    .listado:hover {
        animation-name: slide_image;
        cursor: pointer;
        box-shadow: 8px -8px 8px -6px rgba(109, 109, 109, 0.1);
    }

    .image {
        background-image: url(./assets/concierto.jpeg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;;
    }

    .contenedor_cards {
        height:auto;
        background-color: white;
        display: flex;
        flex-grow: 1;
        width: 74%;
        flex-direction: column;
        padding: 1rem 2rem;
    }

    .contenedor_cards span {
        font-size: 1.1rem;        
    }

    .cards {
        padding-top: 0.5rem;
        font-size: 1.1rem;
    }

    @keyframes slide_image {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.10);

    }

  }

  @media (max-width: 968px) {
        
    h1:after {
        content: '';
        display:none;
        width: 65px;
        height:65px;
        background:url('./assets/trespuntos.png');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        z-index:100000; /*a number that's more than the modal box*/
        left:49%;
        top:245px;
    }

    .busqueda {
        width: 70%;
        height: 2.5rem;
        font-size: 1.3rem;
        background-color: rgb(245, 248, 242);
        border-radius: 0.3rem;
        border: 2px solid rgb(189, 224, 189);
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    .master {
        width: 90%;
    }

    .listado {    
        width: 300px;
        height: 350px;
    }

    .contenedor_cards {
        width: 78%;
    }

  }
</style>
