<template>

  <div id="app">

    
    <router-view/>
    <footercustom class="pink"/>

  </div>

</template>

<script>

  import footercustom from '@/components/FooterWeb.vue'
  import menuup from '@/components/MenuUp.vue'

  export default {

    components:{
      footercustom,
      menuup
    }

  }
</script>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

    *{
      margin: 0;
    }

    #app {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      position: relative;
    }

    h1, h2, h3, h4{
      font-family: 'Bebas Neue', cursive;
      margin: 3rem 0 0.5rem 0;
      font-size: 2.5rem;
      font-weight:bold;
      color: black;
    }

    h3{
      margin: 3rem 0 rem 0;
      font-size: 2.5rem;
      font-weight:bold;
      color: black;
    }

    p{
      margin-bottom: 3rem;
      font-size: 1rem;
      font-family: 'Do Hyeon', sans-serif;
    }

    h1:after, h3:after {
      content: '';
      display:block;
      width: 60px;
      height:35px;
      background:url('./assets/linea.jpg');
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left:48%;
    }

    a {
        text-decoration:none;
        color:rgb(3, 22, 3);
        font-family: 'Do Hyeon', sans-serif;
        text-transform: uppercase;
    }

    input {
      padding: 1rem;
      animation: 0.1s ease forwards;
      box-shadow: 0px 0px 15px 1px rgba(119, 116, 116, 0.1);
      font-family: 'Do Hyeon', sans-serif;
      border: 1px solid rgba(173, 173, 173, 0.404);
      margin-bottom: 1.5rem!important;
      font-size: 1.2rem;
    }

    input::placeholder {
      padding: 0.3rem;
    }

    input:focus {
      padding: 1.2rem 1rem;
      animation-name: slide_image;
    }

    input:focus::placeholder {
      padding: 0;
    }

    button {
      padding: 0.5rem 2rem;
      margin: 0;
      text-transform: uppercase;
      border-radius: 0.2rem;
      animation: 0.1s ease forwards;
      font-weight: bold;
      font-family: 'Do Hyeon', sans-serif;
      background-color: orangered;
      border: 2px solid orangered;
      color: white;
      font-size: 1.2rem;
      box-shadow: 5px 5px 7px -3px rgba(184,184,184,0.65);
    }

    button:hover {
      background-color: white;
      border: 2px solid orangered;
      color: white;
      cursor: pointer;
      color: orangered;
      animation-name: slide_image;
    }

    .contenedor{
      width: 80%;
      margin: 0 auto;
      position: relative;
    }

    .contenedor_flex{
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .contenedor_texto{
        width: 80%;
        margin: 0 auto;
    }

    .contenedor_texto p {
        font-size: 1.35rem;
        color: rgb(77, 77, 77);
    }

    .contenedor_input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;
    }

    @keyframes slide_image {

      0% {
          transform: scale(1);
      }

      50% {
          transform: scale(1.05);
      }

      100% {
          transform: scale(1.08);

      }

    }

  @media (max-width: 1250px) {

      h1:after, h3:after {
        content: '';
        display:none;
      }

  }

  @media (max-width: 426px) {

    h1{
      font-size: 2rem;
    }

    p{
      font-size: 1.1rem;
    }

    input{
      height: 2.5rem;
      padding-left: 1rem;
    }

    input::placeholder{
      font-size: 1.3rem;
    }
        
    .busqueda {
        width: 70%;
        height: 2.5rem;
        font-size: 1.3rem;
        background-color: rgb(245, 248, 242);
        border-radius: 0.3rem;
        border: 2px solid rgb(189, 224, 189);
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    .master {
        width: 90%;
    }

    .listado {    
        width: 300px;
        height: 350px;
    }

    .contenedor_cards {
        width: 78%;
    }

  }

</style>
