<template>
  <div>
      <img src="../assets/error.jpg" alt="">
  </div>
</template>

<script>
    export default {
        name: 'Error'
    }
</script>

<style scoped>

    img {
        width:900px;
        margin: 3rem 0 5rem 0;
    }


</style>