<template>
  <div>
    <gettags :tags="tags"/>
  </div>
</template>

<script>

  import api from '@/api/index.js'
  import gettags from '@/components/GetTags.vue'

  export default {
    name: 'Home',
    components: {
      gettags
    },
    data(){
      return {
        tags: []
      }
    }, 
    created(){
      api.getTopTags().then(response => (this.tags = response.data.tags.tag))
    }
  }
</script>
