<template>
  <div>
    <getartists :artists="artists" v-on:seeAlert="nameArtist"/>
  </div>
</template>

<script>

import api from '@/api/index.js'
import getartists from '@/components/GetArtists.vue'

export default {
  name: 'topartists',
  components: {
    getartists
  },
  data(){
    return {
      artists: []
    }
  }, 
  created(){
    api.getArtists().then(response => (this.artists = response.data.topartists.artist))
  },
  methods: {
    nameArtist(index){
    let artistName = this.artists[index].name
    alert(`Nombre: ${artistName}`)
    }
  }

}
</script>