<template>
  <div>
    <gettracks :tracks="tracks"/>
  </div>
</template>

<script>

import api from '@/api/index.js'
import gettracks from '@/components/GetTracks.vue'

export default {
  name: 'toptracks',
  components: {
    gettracks
  },
  data(){
    return {
      tracks: []
    }
  }, 
  created(){
    api.getTopTracks().then(response => (this.tracks = response.data.tracks.track))
  }
}

</script>
