<template>
  <div>
    <div class="contenedor_footer">
        <div id="footer">
                <ul>
                    <li class="titulo_footer">
                        Enlaces
                    </li>
                    <li>
                        <a href="#">Enlace xwa</a> 
                    </li>
                    <li>
                        <a href="#">Enlace xwa</a> 
                    </li>
                    <li>
                        <a href="#">Enlace xwa</a> 
                    </li>
                </ul>

                <ul>
                    <li class="titulo_footer">
                        Contacto
                    </li>
                    <li>
                        <a href="#">Enlace xwa</a> 
                    </li>
                    <li>
                        <a href="#">Enlace xwa</a> 
                    </li>
                    <li>
                        <a href="#">Enlace xwa</a> 
                    </li>
                </ul>

                <ul>
                    <li class="titulo_footer">
                        Donde estamos
                    </li>
                    <li>
                        Lorem ipsum 17
                    </li>
                    <li>
                        00000 Street
                    </li>
                    <li>
                        555 555 555
                    </li>
                </ul>

                <ul>
                    <li class="titulo_footer">
                        <img src="../assets/last_negro.png" alt="logo lastfm" class="imgfooter">
                    </li>
                    <p id="p_imagen">... lorem ipsum dolor drety meapus <br>tucas sit amet consectetur lutricu ...</p>
                    <li class="rrss_footer">
                        <img src="../assets/trespuntos.png" alt="logo lastfm" class="imgfooter">
                        <img src="../assets/trespuntos.png" alt="logo lastfm" class="imgfooter">
                        <img src="../assets/trespuntos.png" alt="logo lastfm" class="imgfooter">
                    </li>
                </ul>

            </div>
    </div>
    <div>
        <div class="final_footer">
            Lorem ipsum dolor sit amet consectetur <span>&#169</span>
        </div>
    </div>
    
  </div>
</template>


<script>
    export default {
        name:'footerCustom'
    }
</script>


<style scoped>

    .contenedor_footer{
        padding: 30px;
        background-color: rgb(0, 0, 0);
        box-shadow: 0px -8px 8px -6px rgba(0,0,0,0.5);
    }

    #footer {
        width: 80%;
        margin:0 auto;
        display: flex;
        justify-content: space-between;        
        padding: 1rem 0 1.5rem 0;
        font-size: 1.3rem;
        color: white;
    }

    .titulo_footer {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1.3rem;  
    }

    .titulo_footer img {
        width: 250px;
        margin-top: -55px;
        
    }

    .rrss_footer img {
        width:55px;
        padding-right: 1rem;
    }

    .rrss_footer img:nth-last-child(1) {
        padding-right: 0rem;
    }

    ul li a {
        text-decoration: none;
        color: white;
    }

    ul li a:hover {
        color:rgb(224, 224, 224);
    }

    .imgfooter{
        width: 150px;
    }

    .final_footer {
        padding: 0.7rem 0 0.7rem 0;
        background-color: grey;
        color: white;
        font-size: 1.2rem;
    }

    ul {
        list-style: none;
        text-align: center;
    }

    .footer ul li {
        padding-bottom: 0.8rem;
        list-style: none;
    }

    #p_imagen {
        margin-top: -50px;
        font-style: italic;
    }

    @media (max-width: 1068px) {
        
        #footer {
        width: 90%;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        }

        .titulo_footer img {
        width: 250px;
        margin-top: -40px;
        
    }
    }

</style>