<template>
    <div class="contenedor_principal">
        <h1>
            Top artists en Last.fm
        </h1>

        <div class="contenedor_texto">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, illo culpa. Dicta exercitationem voluptatum ea eius tenetur? Dicta, fugit illum minus ad possimus illo nostrum assumenda voluptas enim eius natus!
                Error ipsam sit ipsum numquam vitae magni corrupti expedita quisquam possimus quasi est hic sequi doloribus, iusto, optio corporis deserunt voluptate quos voluptatum, eveniet temporibus cumque! Accusamus ad ipsum hic.
            </p>
        </div>
        
        <div class="contenedor_input">
            <input type="search" v-model="search" placeholder="Busca por artista" class="busqueda">
        </div>
        
        <div class="contenedor_master">
            <div class="master">
                <div v-for="(artist, index) in filtered" :key="artist.id" class="listado">
                    <div class="image" @click="seeAlert(index)"></div>
                    <div class="contenedor_cards">
                        <div class="cards"><span>Name: </span>{{artist.name}}</div>
                        <div class="cards"><span>Listeners: </span>{{artist.listeners}}</div>
                        <div class="cards"><span>Streamable: </span><a href="">{{artist.streamable}}</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    
</template>

<script>

    export default {
        name:'getartists',
        props:{
            artists: Array
        },
        data (){
            return {
                search: ''
            }
        },
        computed: {
            filtered(){
                if ( !this.search ){
                    return this.artists
                }
                return this.artists.filter( item => 
                    item.name.toLowerCase().includes(this.search.toLowerCase())    
                )
            }
        },
        methods: {
            seeAlert(index){
                this.$emit('seeAlert', index)
            }
        }
    }

</script>

<style scoped>

    .contenedor_texto p {
            margin-bottom: 2.5rem;
    }

</style>