<template>
  <div>
      <h1>
            Top tracks en Last.fm
        </h1>
        
        <div class="contenedor_texto">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, illo culpa. Dicta exercitationem voluptatum ea eius tenetur? Dicta, fugit illum minus ad possimus illo nostrum assumenda voluptas enim eius natus!
                Error ipsam sit ipsum numquam vitae magni corrupti expedita quisquam possimus quasi est hic sequi doloribus, iusto, optio corporis deserunt voluptate quos voluptatum, eveniet temporibus cumque! Accusamus ad ipsum hic.
            </p>
        </div>

        <div class="contenedor_master">
            <div class="master">
                <div v-for="track in tracks" :key="track.id" class="listado">
                    <div class="image"></div>
                    <div class="contenedor_cards">
                        <div class="cards"><span>Artist: </span>{{track.artist.name}}</div>
                        <div class="cards"><span>Name: </span>{{track.name}}</div>
                        <div class="cards"><span>Listeners: </span>{{track.listeners}}</div>
                    </div>
                </div>
            </div>
        </div>

  </div>
</template>

<script>

    export default {
        name:'gettracks',
        props:{
            tracks: Array
        }
    }

</script>

<style scoped>

    .contenedor_texto p {
        margin-bottom: 6.5rem;
    }
    
</style>
