<template>
  <div>
    <div class="contenedor_footer">
        <div id="footer">

                <ul class="ul_footer">
                    <li class="titulo_footer">
                        <h4>Enlaces</h4> 
                    </li>
                    <li>
                        <a href="#">Corporativo</a> 
                    </li>
                    <li>
                        <a href="#">Quiénes somos</a> 
                    </li>
                    <li>
                        <a href="#">Compromisos RSC</a> 
                    </li>
                    <li>
                        <a href="#">Tiendas</a> 
                    </li>
                </ul>

                <ul class="ul_footer">
                    <li class="titulo_footer">
                        <h4>Información</h4> 
                    </li>
                    <li>
                        <a href="#">Nuestros envios</a> 
                    </li>
                    <li>
                        <a href="#">Así lo recibirás</a> 
                    </li>
                    <li>
                        <a href="#">Nuestros must</a> 
                    </li>
                </ul>   

                <ul class="ul_footer">
                    <li class="titulo_footer">
                        <h4>Visítanos</h4> 
                    </li>
                    <li>
                        Calle Lorem ipsum 17
                    </li>
                    <li>
                        00000 Street
                    </li>
                    <li>
                        555 555 555
                    </li>
                    <li>
                        asdea@gmail.com
                    </li>                        
                    

                </ul>

        </div>
    </div>

    <div class="f_footer">

        <div class="final_footer contenedor">

            <div class="texto_fFooter">
                <p>Jerónimo Vázquez Cordón · jvazquezcordon@gmail.com · 660006260</p>
            </div>

            <div class="iconos_footer">
                <img src="../assets/facebook.png" alt="logo lastfm" class="imgfooter">
                <img src="../assets/instagram.png" alt="logo lastfm" class="imgfooter">
                <img src="../assets/linkedin.png" alt="logo lastfm" class="imgfooter">            
            </div>
        
        </div>

    </div>
    
  </div>
</template>


<script>
    export default {
        name:'footerCustom'
    }
</script>


<style scoped>

    h4{
        font-size: 2rem;
    }

    p{
        margin-bottom: 0;
    }

    ul {
        list-style: none;
        text-align: left;
        padding-left: 0;
    }

    li{
        color: rgb(255, 255, 255);
        padding-bottom:0.7rem;
        font-size: 1.3rem;
        padding-left: 0.8rem;
    }

    li a{
        color: rgb(255, 255, 255);
    }

    li a:hover {
        color:rgb(155, 155, 155);
    }

    .contenedor_footer{
        margin-top: 3rem;
        padding: 30px;
        background-color:rgba(0, 7, 1, 0.911);
        box-shadow: 0px 0px 10px -1px rgba(19, 1, 1, 0.75);
    }

    #footer {
        width: 80%;
        margin:0 auto;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(10rem, 1fr) );  
        padding: 2rem 0 1.5rem 0;
        color: rgb(99, 99, 99);
    }

    #footer a, #footer li{
        font-family: 'Do Hyeon', sans-serif;
    }

    .titulo_footer {
        text-transform: uppercase;
        font-weight: bold;
        padding: 0.7rem 0;
        padding-left: 1rem;
        color: rgb(255, 255, 255);
        border-bottom: 3px solid rgb(255, 255, 255);
        margin: 0 1.5rem 1.5rem 0;
        display: flex;
        align-content: center;
        width: 45%;
    }

    .titulo_footer h4{
        margin: 0;
        color: white;
    }

    .footer ul li {
        padding-bottom: 0.8rem;
        list-style: none;
    }

    .logo p:first-child{
        font-weight: bold;
        font-size: 1.5rem;
        color: black;
        text-transform: uppercase;
        margin: 0;
    }

    /* FINAL FOOTER */

    .f_footer{
        background-color: #dddddd2f;;
    }

    .final_footer {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding: 0.5rem 0;       
        padding-right: 5.5rem;
    }

    .final_footer img{
        width: 1.5rem;
        margin: 0.5rem 0.7rem;
    }

    .final_footer p{
       color: rgb(148, 148, 148);
       text-transform: uppercase;
       font-weight: bold;
    }

    .texto_fFooter{
        margin: 0 3.5rem;
    }

    @media (max-width: 960px) {
        
        #footer {
            width: 90%;
            display: grid;
            grid-template-columns: repeat( 2, 1fr );
        }

        .ul_footer{
            margin-bottom: 3rem;
            padding: 0;
        }

        .titulo_footer {
            min-width: 25%;
        }

        .iconos_footer{
            min-width: 11rem;
        }

    }

    @media (max-width: 578px) {
        
        #footer {
            width: 90%;
            display: grid;
            grid-template-columns: repeat( 1, 1fr );
        }

        .final_footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            padding: 3rem 0;       
            padding-right: 0;
        }

        .texto_fFooter{
            padding-bottom: 2rem;
        }

        .final_footer img{
            width: 2.2rem;
            margin: 0.5rem 1.5rem;
        }

    }

</style>