<template>

  <div>

    <div class="contenedor_up">
        <div id="menu_up">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, vero.
        </div>
    </div>
    
  </div>

</template>

<script>

    export default {
        name:'menuup'
    }

</script>

<style scoped>

    .contenedor_up{
        height: 2.5rem;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 0px 1px rgba(226, 226, 226, 0.055);
        font-weight: 500;
    }

    #menu_up{
        width: 80%;
        color: rgba(49, 49, 49, 0.705);
    }

</style>