<template>
  <div id="nav" class="contenedor">
    <div class="contenedor_flex" ref="nav">
      <div class="logo">
        <a href="#" class="menu-btn" @click="toggleNav"></a>
        <figure class="image-logo">
          <img src="../assets/logo0.png" height="40px" width="40px" />
        </figure>
      </div>

      <div class="links">
        <router-link :to="{ name: 'home' }">Home</router-link>
        <router-link :to="{ name: 'productos' }">Productos</router-link>
        <router-link :to="{ name: 'nuevousuario' }">Registro</router-link>
        <router-link :to="{ name: 'micuenta' }" v-show="loggedout">Mi cuenta</router-link>
        <router-link :to="{ name: 'nuevoproducto' }">+Producto</router-link>
      </div>

      <ul class="button">
        <li>
          <button v-show="loggedout" @click="logoutUser()">Logout</button>
        </li>
        <li />

        <li>
          <button v-show="loggedin" @click="loginUserIn()">Login</button>
        </li>
        <li />
      </ul>

    </div>
  </div>
</template>

<script>
import { logout } from "../../utils";
import { isLoggedIn } from "../../utils";

export default {
  name: "nav_web",

  data() {
    return {
      username: "",
      loggedout: false,
      loggedin: false,
      cart:0
    };
  },

  methods: {
    logoutUser() {
      this.loggedin = true;
      this.loggedout = false;
      logout();
    },

    loginUserIn() {
      this.$router.push("/user/login");
    },

    loginUserOut() {
      this.loggedout = true;
    },

    getLogin() {
      this.loggedout = isLoggedIn();
      this.loggedin = !isLoggedIn();
    },

    toggleNav() {
      const nav = this.$refs.nav.classList;
      nav.contains("active") ? nav.remove("active") : nav.add("active");
    }
    
  },

  created() {
    this.getLogin();
  }
};
</script>

<style scoped>


  button{
    box-shadow: none;
  }

  #nav {
    padding: 1rem 0;
    height: 3.5rem;
    background-color: transparent;
    margin: 0;
    position: absolute;
    z-index: 19999;
    width: 100%;
    display: flex;
  }

  #nav a {
    color: white;
    padding-right: 1.7rem;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
    transition: 0.15s;
  }

  #nav a:nth-last-child(1) {
    padding-right: 0;
  }

  #nav a:hover {
    color: rgba(155, 155, 155, 0.815);
  }

  #nav a.router-link-exact-active {
    color: rgb(255, 68, 0)
  }

  #nav .logo a {
    font-size: 1.9rem;
  }

  ul {
    list-style: none;
    padding: 0;
    max-width: 15%;
  }

  img {
    width: 7rem;
    height: 2rem;
  }

  button{
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    min-width: 7rem;
  }

  .menu-btn {
    display: none;
  }

  .carrito{
    text-transform: uppercase;
    color: white;
  }

  @media screen and (max-width: 769px) {

    img {
      padding-left: 1.6rem;
      width: 7.5rem;
      height: 2rem;
      margin: 1rem 0 2rem 0;
    }

    li{
      display: flex;
    }

    #nav a {
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }

    .contenedor {
      display: flex;
      align-content: flex-start;
    }

    .contenedor_flex {
      position: fixed;
      width: 15rem;
      left: -300px;
      transition: 300ms ease all;
      top: 50px;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.89);
      margin-top: -60px;
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .active {
      left: 0px;
    }

    .menu-btn {
      display: block;
      margin: 1em;
      width: 36px;
      position: absolute;
      top: 0.5rem;
      left: 19rem;
      z-index: 1;
    }

    .menu-btn:before,
    .menu-btn:after {
      background-color: #fff;
      content: "";
      display: block;
      height: 4px;
      transition: all 200ms ease-in-out;
    }

    .menu-btn:before {
      box-shadow: 0 10px 0 #fff;
      margin-bottom: 16px;
    }

    .menu-btn:hover:before {
      box-shadow: 0 0 0 #fff;
      transform: translateY(10px) rotate(45deg);
    }

    .menu-btn:hover:after {
      transform: translateY(-10px) rotate(-45deg);
    }

    .active .logo a:first-child {
      position: absolute;
      top: 0.5rem;
      left: 1rem;
    }

    .links {
      text-align: left;
    }

    .links a {
      padding: 0 0 1rem 0.5rem;
    }

    .links {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      justify-content: space-between;
      margin-right: 13px;
    }

    .button {
      margin-top: 2rem;
      padding-left: 1.6rem;
    }
  }

</style>