<template>
  <div>
    <div class="contenedor_search">
      <input type="search" v-model="searchCategoria" placeholder="Busca por categoria" />
      <input type="search" v-model="searchDescripcion" placeholder="Busca por descripción" />
      <input type="search" v-model="searchUbicacion" placeholder="Busca por ubicación" />
      <input type="search" v-model="searchPrecio" placeholder="Busca por precio" />
    </div>

    <ul class="contenedor_productos">
      <li v-for="(producto, index) in filtered" :key="producto.id">
        <div class="imagen">
          <img :src="producto.imagen" alt />
        </div>

        <div class="card_producto">
          <p>
            <span>Categoria</span>
            <br />
            {{producto.categoria}}
          </p>
          <p>
            <span>Descripcion</span>
            <br />
            {{producto.descripcion}}
          </p>
          <p>
            <span>Ubicacion</span>
            <br />
            {{producto.ubicacion}}
          </p>
          <p>
            <span>Precio</span>
            <br />
            {{producto.precio}}
          </p>
          <p>
            <span>Email</span>
            <br />
            {{producto.email}}
          </p>
          <p>
            <span>Horario_lugar</span>
            <br />
            {{producto.horario_lugar}}
          </p>
        </div>

        <button @click="enviardatosProducto(index)">Reservar</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "productoslistado",

  props: {
    productos: Array
  },

  data() {
    return {
      searchCategoria: "",
      searchDescripcion: "",
      searchUbicacion: "",
      searchPrecio: ""
    };
  },

  methods: {
    enviardatosProducto(index) {
      let datosProducto = this.productos[index];
      this.$emit("indice", datosProducto);
    }
  },

  computed: {
    filtered() {
      if (this.searchCategoria) {
        return this.productos.filter(producto =>
          producto.categoria
            .toLowerCase()
            .includes(this.searchCategoria.toLowerCase())
        );
      } else if (this.searchDescripcion) {
        return this.productos.filter(producto =>
          producto.descripcion
            .toLowerCase()
            .includes(this.searchDescripcion.toLowerCase())
        );
      } else if (this.searchUbicacion) {
        return this.productos.filter(producto =>
          producto.ubicacion
            .toLowerCase()
            .includes(this.searchUbicacion.toLowerCase())
        );
      } else if (this.searchPrecio) {
        return this.productos.filter(
          producto => parseInt(producto.precio) <= this.searchPrecio
        );
      } else {
        return this.productos;
      }
    }
  }
};
</script>

<style scoped>

    .contenedor_search{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 2rem;
    }

    input{
        margin: 0 1rem 3rem 1rem;
        padding: 0.5rem;
        width: 20%;
    }

    img {
        width: auto;
    }

    ul{
        padding-left: 0;
    }

    li {
        list-style: none;
        border: 1px solid rgb(197, 197, 197);
        max-width: 25rem;
    }

    li p {
        margin: 1rem 0 0 0;
    }

    li button {
        width: 100%;
        padding: 1rem;
    }

    button{
        font-size: 1.5rem;
    }

    .card_producto{
        padding: 1rem 0;
    }

    .card_producto p{
        font-size: 1.3rem;
    }

    .card_producto p span{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.4rem;
    }

    .card_producto p:last-child {
        margin-bottom: 1rem;
    }

    .imagen img {
        width: 100%;
        max-height: 25rem;
    }

    .contenedor_busqueda{
        margin: 10rem;
    }

    .contenedor_productos {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .contenedor_productos li {
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.45);
    }

    @media (max-width: 1410px){

      .contenedor_productos {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          justify-items: center;
          
      }

      li{
        min-width: 25rem;
      }

    }

    @media (max-width: 1025px){

      input{
        min-width: 45%;
        margin-bottom: 1rem;
      }     

      .contenedor_search{
        margin-bottom: 3rem;
      }

    }

    @media (max-width: 769px){

      .contenedor_search input{
        min-width: 15rem;
        margin-bottom: 1rem;
      } 

      .imagen img {
         max-height: 25rem;
      }

      .contenedor_productos {

          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 2rem;

      }

    }

    @media (max-width: 769px){

      input{
        min-width: 30%;
        max-width: 40%;
      }

    }

    @media (max-width: 425px){

      .contenedor_search input{
        min-width: 100%;
      }  

      li{
        min-width: 0;
      }

      .imagen img{
        max-height: 20rem;
      }
    }

</style>